node-red/1st.flow
[{"id":"4e6d1d28.23a1a4","type":"tab","label":"1.Your Sensor","disabled":false,"info":""},{"id":"2ff53076.c108a","type":"tab","label":"1.ALL PWS on Map","disabled":false,"info":""},{"id":"c645a74f.f53008","type":"tab","label":"2.Your PWS","disabled":false,"info":""},{"id":"188b67e3.5e7cf8","type":"tab","label":"Utils","disabled":false,"info":""},{"id":"b9b0f68.142db08","type":"wiotp","z":"","name":"o062sb"},{"id":"46b94481.65c85c","type":"wiotp","z":"","name":"n8ve7d-mARKUS SPACE"},{"id":"d6243246.e5fbd","type":"ibmiot","z":"","name":"IoTMvK","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f3d8c395.7a0d5","type":"ibmiot","z":"","name":"IoTBak","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c3ca51fe.2d4e6","type":"ui_group","z":"","name":"All PWS","tab":"b5674cbd.e0019","order":1,"disp":false,"width":"22","collapse":false},{"id":"b5674cbd.e0019","type":"ui_tab","z":"","name":"All PWS","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"6cdfc924.a49268","type":"ibmiot","z":"","name":"IoTMVK","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a4160ef6.0d2c6","type":"ui_group","z":"","name":"PWS","tab":"8f96c76a.6a39b8","order":1,"disp":true,"width":"7","collapse":false},{"id":"648e0fb0.c1e37","type":"ui_group","z":"","name":"Map","tab":"8f96c76a.6a39b8","order":3,"disp":true,"width":"12","collapse":false},{"id":"5fe43d3f.98d414","type":"ui_group","z":"","name":"TWC 24H Forecast","tab":"8f96c76a.6a39b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"8f96c76a.6a39b8","type":"ui_tab","z":"","name":"1. My PWS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5eada1.5821226","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d4a93b6f.142ad8","type":"ui_tab","z":"","name":"99. Util Geo Location","icon":"dashboard","disabled":false,"hidden":false},{"id":"5f9caff5.3cf8a","type":"ui_group","z":"","name":"Default","tab":"d4a93b6f.142ad8","disp":true,"width":"14","collapse":false},{"id":"42dd2194.8f03e","type":"ui_group","z":"","name":"Infos","tab":"8f96c76a.6a39b8","order":2,"disp":true,"width":"4","collapse":false},{"id":"9f85eb05.e951b8","type":"ui_group","z":"","name":"hidden_group","tab":"75b10552.5d918c","disp":false,"width":"6","collapse":false},{"id":"75b10552.5d918c","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":4},{"id":"369ee5ba.1e5eea","type":"comment","z":"188b67e3.5e7cf8","name":"Get your Geo Location","info":"your url - node red instance /latlon\n\nhttps://thinklabxx.mybluemix.net/latlon\nor \n\n\nhttps://thinklab1239.mybluemix.net/latlon","x":140,"y":60,"wires":[]},{"id":"2ac6ded4.a77862","type":"http in","z":"188b67e3.5e7cf8","name":"","url":"/latlon","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["77579cd6.a7fb94"]]},{"id":"77579cd6.a7fb94","type":"template","z":"188b67e3.5e7cf8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n\n<h1>ThinkLAB-1239 - Your IP Geo Location  </h1>\n\n\n  <p id=\"demo\"> Please wait a little ...  </p>\n  \n\n<script>\nvar x = document.getElementById(\"demo\");\nfunction showPosition(position) {\n    console.log(position)\n  x.innerHTML = \"Latitude: \" + position.coords.latitude + \n  \"<br>Longitude: \" + position.coords.longitude;\n  lat = document.getElementById(\"lat\");\n  lat.value=position.coords.latitude;\n  lon = document.getElementById(\"lon\");\n  lon.value=position.coords.longitude;\n}\nfunction getLocation() {\n  if (navigator.geolocation) {\n    navigator.geolocation.getCurrentPosition(showPosition);\n  } else { \n    x.innerHTML = \"Geolocation is not supported by this browser.\";\n  }\n}\n\n\n\ngetLocation() \n\n\n</script>\n</body>\n</html>\n","x":310,"y":140,"wires":[["f0eb9d5b.04f77"]]},{"id":"f0eb9d5b.04f77","type":"http response","z":"188b67e3.5e7cf8","name":"","x":470,"y":140,"wires":[]},{"id":"b3737269.eaec9","type":"http request","z":"4e6d1d28.23a1a4","name":"Current Weather TWC","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":900,"y":540,"wires":[["d6c2f6ff.da13e8","bd043817.53f348"]]},{"id":"b075d5e8.29c088","type":"change","z":"4e6d1d28.23a1a4","name":"New key Set TWC API Key here","rules":[{"t":"set","p":"twcapikey","pt":"global","to":"5424e9662cbf4bc3a4e9662cbf4bc3fe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[["a33f37cc.dd3f48"]]},{"id":"f50affec.23a89","type":"inject","z":"4e6d1d28.23a1a4","name":"Init TWC API Key","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":190,"y":240,"wires":[["b075d5e8.29c088"]]},{"id":"a33f37cc.dd3f48","type":"debug","z":"4e6d1d28.23a1a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":240,"wires":[]},{"id":"b334e7ca.4ed4c8","type":"change","z":"4e6d1d28.23a1a4","name":"Set Location","rules":[{"t":"set","p":"lat","pt":"global","to":"28","tot":"str"},{"t":"set","p":"lon","pt":"global","to":"-42","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["38b3489b.af2988","8dcd4fee.5f06"]]},{"id":"418134a3.d457dc","type":"inject","z":"4e6d1d28.23a1a4","name":"Set Default Location (Lat/Lon)","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":230,"y":320,"wires":[["b334e7ca.4ed4c8"]]},{"id":"f70d2c0b.79ff2","type":"function","z":"4e6d1d28.23a1a4","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["6ad98c2f.e89f54"]]},{"id":"bd043817.53f348","type":"debug","z":"4e6d1d28.23a1a4","name":"TWC Api Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":540,"wires":[]},{"id":"518b4637.b362b8","type":"change","z":"4e6d1d28.23a1a4","name":"SET LAB ID","rules":[{"t":"set","p":"labid","pt":"global","to":"01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":160,"wires":[["d73d3e5a.1f2d1","bf7bc50e.9c51b8"]]},{"id":"aa4d308d.da24c","type":"inject","z":"4e6d1d28.23a1a4","name":"LABID","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":160,"y":160,"wires":[["518b4637.b362b8"]]},{"id":"d73d3e5a.1f2d1","type":"debug","z":"4e6d1d28.23a1a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":160,"wires":[]},{"id":"6ad98c2f.e89f54","type":"function","z":"4e6d1d28.23a1a4","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmyurl= \"https://api.weather.com/v3/wx/observations/current?apiKey=\"+global.get(\"twcapikey\")+\"&geocode=\"+global.get(\"lat\")+\"%2C\"+global.get(\"lon\")+\"&units=\"+global.get(\"unit\")+\"&language=en-US&format=json\"\nmsg.url=myurl\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["b3737269.eaec9"]]},{"id":"528fb3df.842ecc","type":"comment","z":"4e6d1d28.23a1a4","name":"API documentation","info":"https://weather.com/swagger-docs/call-for-code","x":870,"y":500,"wires":[]},{"id":"bf7bc50e.9c51b8","type":"function","z":"4e6d1d28.23a1a4","name":"labid","func":"msg.payload=global.get(\"labid\")\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["d73d3e5a.1f2d1"]]},{"id":"d5a78070.d1596","type":"comment","z":"4e6d1d28.23a1a4","name":"Infos","info":"1. Get Your ID  via https://thinklab1239.mybluemix.net/claimid\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":150,"y":60,"wires":[]},{"id":"906b2ff5.de547","type":"debug","z":"4e6d1d28.23a1a4","name":"MyPWSIncoming","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":640,"wires":[]},{"id":"3971e6fa.41658a","type":"ibmiot in","z":"4e6d1d28.23a1a4","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":160,"y":640,"wires":[["39b11fbe.f5a9c"]]},{"id":"d6c2f6ff.da13e8","type":"function","z":"4e6d1d28.23a1a4","name":"Mapping","func":"msg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.icon       =msg.payloadold.iconCode\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=parseFloat(global.get(\"lat\"))\nmsg.payload.lon=parseFloat(global.get(\"lon\"))\nmsg.payload.source=\"TWC\"\nmsg.payload.unit=global.get(\"unit\")\nmsg.payload.pws=global.get(\"labid\")\nmsg.deviceId=\"pws\"+msg.payload.pws\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":900,"y":580,"wires":[["de684887.28ff58","aea91cb6.1625a"]]},{"id":"4b294349.e91ffc","type":"inject","z":"4e6d1d28.23a1a4","name":"Payload TWC example","topic":"","payload":"{\"cloudCeiling\":5000,\"cloudCoverPhrase\":\"Mostly Cloudy\",\"dayOfWeek\":\"Friday\",\"dayOrNight\":\"D\",\"expirationTimeUtc\":1586545455,\"iconCode\":28,\"iconCodeExtend\":2890,\"obsQualifierCode\":null,\"obsQualifierSeverity\":null,\"precip1Hour\":0,\"precip6Hour\":0,\"precip24Hour\":0,\"pressureAltimeter\":1005.08,\"pressureChange\":2.03,\"pressureMeanSeaLevel\":1005.2,\"pressureTendencyCode\":1,\"pressureTendencyTrend\":\"Rising\",\"relativeHumidity\":42,\"snow1Hour\":0,\"snow6Hour\":0,\"snow24Hour\":0,\"sunriseTimeLocal\":\"2020-04-10T06:43:19-0400\",\"sunriseTimeUtc\":1586515399,\"sunsetTimeLocal\":\"2020-04-10T19:56:57-0400\",\"sunsetTimeUtc\":1586563017,\"temperature\":7,\"temperatureChange24Hour\":-2,\"temperatureDewPoint\":-5,\"temperatureFeelsLike\":2,\"temperatureHeatIndex\":7,\"temperatureMax24Hour\":8,\"temperatureMaxSince7Am\":7,\"temperatureMin24Hour\":1,\"temperatureWindChill\":2,\"uvDescription\":\"Moderate\",\"uvIndex\":4,\"validTimeLocal\":\"2020-04-10T14:54:15-0400\",\"validTimeUtc\":1586544855,\"visibility\":16.09,\"windDirection\":300,\"windDirectionCardinal\":\"WNW\",\"windGust\":56,\"windSpeed\":37,\"wxPhraseLong\":\"Mostly Cloudy/Wind\",\"wxPhraseMedium\":\"Mostly Cloudy/Wind\",\"wxPhraseShort\":\"M Cldy/Wind\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":500,"wires":[[]]},{"id":"de684887.28ff58","type":"debug","z":"4e6d1d28.23a1a4","name":"mapping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":620,"wires":[]},{"id":"2a23497f.99ecf6","type":"comment","z":"4e6d1d28.23a1a4","name":" Get a Weather API key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/\n4. 5424e9662cbf4bc3a4e9662cbf4bc3fe","x":460,"y":200,"wires":[]},{"id":"aea91cb6.1625a","type":"ibmiot out","z":"4e6d1d28.23a1a4","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"issetinmapping","deviceType":"pws","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"MyPWS","service":"registered","x":1120,"y":580,"wires":[]},{"id":"8b503220.28fb4","type":"comment","z":"4e6d1d28.23a1a4","name":"1st Step - Set LABID","info":"1. Get Your ID  via https://thinklab1239.mybluemix.net/claimid\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":190,"y":120,"wires":[]},{"id":"d5daa5e0.715878","type":"comment","z":"4e6d1d28.23a1a4","name":"2st Step - Set TWC API Key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":220,"y":200,"wires":[]},{"id":"ab64b3ec.30b21","type":"comment","z":"4e6d1d28.23a1a4","name":"3rd Step - Set Your Lat/Lon location","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":220,"y":280,"wires":[]},{"id":"4dc27267.aaf3bc","type":"comment","z":"4e6d1d28.23a1a4","name":"get your LABid form http://thinklab1239.mybluemix.net/claimid","info":"","x":1010,"y":120,"wires":[]},{"id":"39b11fbe.f5a9c","type":"function","z":"4e6d1d28.23a1a4","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["906b2ff5.de547"]]},{"id":"afd439b7.9f0878","type":"function","z":"2ff53076.c108a","name":"Set PWS Markter","func":"\nmsg.payload.layer = \"pwsall\";\nmsg.payload.name  = msg.payload.pws\nmsg.payload.icon  = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(!isNaN(msg.payload.pws))\n{\n    msg.payload.iconColor = \"orange\"//+msg.payload.pws;\n    if(parseInt(msg.payload.pws) < 11)\n        msg.payload.iconColor = \"#55FF\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 10 && parseInt(msg.payload.pws) <21 )\n        msg.payload.iconColor = \"#FF55\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 20 && parseInt(msg.payload.pws) <31 )\n        msg.payload.iconColor = \"#\"+msg.payload.pws+\"22FF\"\n    if(parseInt(msg.payload.pws) > 30 && parseInt(msg.payload.pws) <41 )\n        msg.payload.iconColor = \"#55\"+msg.payload.pws+\"88\"\n}\n\n\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n    \n    \nif(msg.payload.pws == \"iss\")\n{\nmsg.payload.name  = \"Space Station\";\nmsg.payload.icon  = \"fa-space-shuttle\";\nmsg.payload.iconColor = \"blue\";\n}\nif(msg.payload.pws == \"cprb\")\n{\nmsg.payload.name  = \"Weather RB Station\";\nmsg.payload.icon  = \"fa-cloud\";\nmsg.payload.iconColor = \"green\";\n}\n\nmsg.payload.command = { zoom:3, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n//delete msg.payload.command \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["14feed06.220133","9c83b24f.b5f32"]]},{"id":"14feed06.220133","type":"ui_worldmap","z":"2ff53076.c108a","group":"c3ca51fe.2d4e6","order":4,"width":"22","height":"12","name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"6","maxage":"1200","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldallpws","x":870,"y":320,"wires":[]},{"id":"9c83b24f.b5f32","type":"debug","z":"2ff53076.c108a","name":"MapIT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":280,"wires":[]},{"id":"c0488290.aaeb","type":"ibmiot in","z":"2ff53076.c108a","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"All PWS","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":250,"y":280,"wires":[["33624ee0.1f3e52","e9d5c036.1516"]]},{"id":"33624ee0.1f3e52","type":"debug","z":"2ff53076.c108a","name":"IoT incoming","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":340,"wires":[]},{"id":"e9d5c036.1516","type":"delay","z":"2ff53076.c108a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":280,"wires":[["afd439b7.9f0878"]]},{"id":"a23a5cf1.79449","type":"inject","z":"2ff53076.c108a","name":"Test Message Toronto","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":220,"y":220,"wires":[["e9d5c036.1516"]]},{"id":"336f7ef1.ce2052","type":"comment","z":"2ff53076.c108a","name":"use url ....  youinstance mybluemix.net/worldallpws","info":"or \nhttps://.....mybluemix.net/ui/\nor\nhttps://thinklab1239.mybluemix.net/worldallpws","x":290,"y":160,"wires":[]},{"id":"abb21476.234b88","type":"http request","z":"188b67e3.5e7cf8","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":350,"y":320,"wires":[["354d2d5b.eaca02","d3e7514e.6d886"]]},{"id":"354d2d5b.eaca02","type":"debug","z":"188b67e3.5e7cf8","name":"IssiPos","active":true,"console":"false","complete":"payload","x":530.5,"y":321.5,"wires":[]},{"id":"418af1bf.a984d","type":"inject","z":"188b67e3.5e7cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":108.5,"y":319.25,"wires":[["abb21476.234b88"]]},{"id":"d3e7514e.6d886","type":"function","z":"188b67e3.5e7cf8","name":"Mapping/Send ISS info","func":"//Maybe call the weather API\nmsg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=(msg.payloadold.iss_position.latitude).toFixed(4)\nmsg.payload.lon=(msg.payloadold.iss_position.longitude).toFixed(4)\nmsg.payload.source=\"TWC\"\nmsg.payload.pws=\"iss\"\nmsg.deviceId=\"pwsiss\"\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["378ac906.b19f06"]]},{"id":"3648cf49.1404a","type":"comment","z":"188b67e3.5e7cf8","name":"Get ISS position and mapp it","info":"","x":160,"y":260,"wires":[]},{"id":"4388534d.0bf6cc","type":"inject","z":"4e6d1d28.23a1a4","name":"Call TWC","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"10","x":160,"y":540,"wires":[["f70d2c0b.79ff2"]]},{"id":"38b3489b.af2988","type":"debug","z":"4e6d1d28.23a1a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":320,"wires":[]},{"id":"8dcd4fee.5f06","type":"function","z":"4e6d1d28.23a1a4","name":"latlon","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["38b3489b.af2988"]]},{"id":"378ac906.b19f06","type":"debug","z":"188b67e3.5e7cf8","name":"IssiInfos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":260,"wires":[]},{"id":"ab6b4e22.adc07","type":"debug","z":"c645a74f.f53008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":80,"wires":[]},{"id":"f4b8bed0.be369","type":"comment","z":"c645a74f.f53008","name":"Info","info":"Make sure you PWS sensor is working 1st\n\n1. Get Your ID  via http://thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":190,"y":80,"wires":[]},{"id":"c0356340.0d42d","type":"function","z":"c645a74f.f53008","name":"Set PWS Markter","func":"\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.layer = \"pws\";\nmsg.payload.name = \"pws\"+global.get(\"labid\")\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.command = { zoom:5, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["a55e7226.0d5b9","3124419e.e9938e"]]},{"id":"23f4062f.cf8f5a","type":"function","z":"c645a74f.f53008","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["3f8d7c1.6f8d984","ecf0639a.0c548","5b771769.a431f8","c0356340.0d42d","64f795e1.b6e13c","ab6b4e22.adc07","a26d0f8d.372ff","73544e03.2be82"]]},{"id":"3f8d7c1.6f8d984","type":"ui_gauge","z":"c645a74f.f53008","name":"","group":"a4160ef6.0d2c6","order":4,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"C","format":"{{msg.payload.temperature}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1000,"y":120,"wires":[]},{"id":"ecf0639a.0c548","type":"ui_text","z":"c645a74f.f53008","group":"a4160ef6.0d2c6","order":5,"width":0,"height":0,"name":"","label":"Conditions","format":"{{msg.payload.observation}}","layout":"row-spread","x":970,"y":160,"wires":[]},{"id":"5b771769.a431f8","type":"ui_text","z":"c645a74f.f53008","group":"a4160ef6.0d2c6","order":5,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload.day}}","layout":"row-spread","x":950,"y":200,"wires":[]},{"id":"a55e7226.0d5b9","type":"ui_worldmap","z":"c645a74f.f53008","group":"648e0fb0.c1e37","order":4,"width":0,"height":0,"name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"6","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmappws","x":760,"y":400,"wires":[]},{"id":"3124419e.e9938e","type":"debug","z":"c645a74f.f53008","name":"MapIT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":360,"wires":[]},{"id":"64f795e1.b6e13c","type":"ui_text","z":"c645a74f.f53008","group":"648e0fb0.c1e37","order":0,"width":0,"height":0,"name":"","label":"Local Time (YYZ)","format":"{{msg.payload.mytime}}","layout":"row-spread","x":990,"y":260,"wires":[]},{"id":"76ff9846.e1cdf8","type":"ui_chart","z":"c645a74f.f53008","name":"","group":"a4160ef6.0d2c6","order":4,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":300,"wires":[[]]},{"id":"a26d0f8d.372ff","type":"function","z":"c645a74f.f53008","name":"","func":"var msg1={}\n\n\nmsg.oldpayload=msg.payload\n//msg1.topic=\"Humidity\"\n//msg1.payload=msg.oldpayload.relativeHumidity\n//node.send(msg1)\nmsg1.topic=\"Temperature\"\nmsg1.payload=msg.oldpayload.temperature\nnode.send(msg1)\n","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["76ff9846.e1cdf8"]]},{"id":"1d62e3b1.e9839c","type":"ui_template","z":"c645a74f.f53008","group":"5fe43d3f.98d414","name":"Outside Image","order":3,"width":0,"height":0,"format":"<img src=\"https://www.toronto.ca/data/transportation/roadrestrictions/CameraImages/loc8046.jpg\" alt='Image not found'  />\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":980,"y":400,"wires":[[]]},{"id":"11f3bd5e.e62a03","type":"comment","z":"c645a74f.f53008","name":"Traffic Cams in Toronto","info":"https://www.toronto.ca/services-payments/streets-parking-transportation/road-restrictions-closures/rescu-traffic-cameras/","x":1000,"y":360,"wires":[]},{"id":"5d503aa4.2573c4","type":"ibmiot in","z":"c645a74f.f53008","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"weather","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":220,"y":180,"wires":[["54a0a430.b16a6c"]]},{"id":"54a0a430.b16a6c","type":"function","z":"c645a74f.f53008","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["6c1176cc.57c7e8","23f4062f.cf8f5a"]]},{"id":"6c1176cc.57c7e8","type":"debug","z":"c645a74f.f53008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":430,"y":120,"wires":[]},{"id":"9229e755.9e29e8","type":"http request","z":"188b67e3.5e7cf8","name":"Current Weather","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":460,"wires":[["b5a2fe97.7e7d6","6583d4e3.35498c"]]},{"id":"b5a2fe97.7e7d6","type":"debug","z":"188b67e3.5e7cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":460,"wires":[]},{"id":"68a1a69e.ecb7b8","type":"inject","z":"188b67e3.5e7cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["bb3abaac.8fc608"]]},{"id":"e5075a70.23d268","type":"ui_button","z":"188b67e3.5e7cf8","name":"","group":"5fe43d3f.98d414","order":1,"width":0,"height":0,"passthru":false,"label":"24h Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":540,"wires":[[]]},{"id":"8b9f100c.e7b5","type":"ui_gauge","z":"c645a74f.f53008","name":"","group":"5fe43d3f.98d414","order":4,"width":0,"height":0,"gtype":"gage","title":" Temperature in 24","label":"C","format":"{{msg.payload.forecasts[23].temp}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":990,"y":540,"wires":[]},{"id":"c6225d51.ae1e2","type":"function","z":"c645a74f.f53008","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["8b9f100c.e7b5","230e06de.43ccca"]]},{"id":"230e06de.43ccca","type":"function","z":"c645a74f.f53008","name":"","func":"//example [{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]\n var mymsg={}\n mymsg.topic=\"Temperature\"\nmymsg.payload=[{\"key\":\"Current\",\"values\":[[0,0]]}]\nmymsg.v=mymsg.payload[0].values[0]\nmsg.payload.forecasts.forEach(function(entry) {\n  //msg.payload.forecasts[23].temp}}\n\nvar a=[]\na.push(entry.num)\na.push(entry.temp)\n//mymsg.payload.values=values\nmymsg.payload[0].values.push(a)\n});\n\nreturn mymsg","outputs":1,"noerr":0,"x":810,"y":600,"wires":[["cf6fe054.b822a","cab453f5.becfd"]]},{"id":"cf6fe054.b822a","type":"debug","z":"c645a74f.f53008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":640,"wires":[]},{"id":"e6816a15.db73c8","type":"inject","z":"c645a74f.f53008","name":"Clear all data","topic":"","payload":"[{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":770,"y":660,"wires":[["cab453f5.becfd"]]},{"id":"d6f1e3fe.6809","type":"inject","z":"c645a74f.f53008","name":"Clear all data","topic":"","payload":"[{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586595600,\"fcst_valid_local\":\"2020-04-11T12:00:00+0300\",\"num\":1,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":15,\"feels_like\":15,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":5,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":34,\"wspd\":11,\"wdir\":358,\"wdir_cardinal\":\"N\",\"gust\":null,\"clds\":30,\"vis\":16,\"mslp\":1012.1,\"uv_index_raw\":5.68,\"uv_index\":6,\"uv_warning\":0,\"uv_desc\":\"High\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586599200,\"fcst_valid_local\":\"2020-04-11T13:00:00+0300\",\"num\":2,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":33,\"wspd\":10,\"wdir\":343,\"wdir_cardinal\":\"NNW\",\"gust\":null,\"clds\":48,\"vis\":16,\"mslp\":1011.6,\"uv_index_raw\":5.34,\"uv_index\":5,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586602800,\"fcst_valid_local\":\"2020-04-11T14:00:00+0300\",\"num\":3,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":32,\"wspd\":10,\"wdir\":317,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":58,\"vis\":16,\"mslp\":1011.2,\"uv_index_raw\":3.94,\"uv_index\":4,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586606400,\"fcst_valid_local\":\"2020-04-11T15:00:00+0300\",\"num\":4,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":4600,\"wxman\":\"wx2000\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Few Showers\",\"phrase_22char\":\"Few Showers\",\"phrase_32char\":\"Few Showers\",\"subphrase_pt1\":\"Few\",\"subphrase_pt2\":\"Showers\",\"subphrase_pt3\":\"\",\"pop\":32,\"precip_type\":\"rain\",\"qpf\":0.02,\"snow_qpf\":0,\"rh\":32,\"wspd\":9,\"wdir\":300,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":61,\"vis\":16,\"mslp\":1011.12,\"uv_index_raw\":2.63,\"uv_index\":3,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586610000,\"fcst_valid_local\":\"2020-04-11T16:00:00+0300\",\"num\":5,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":1,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":48,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":35,\"wspd\":10,\"wdir\":314,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":81,\"vis\":14,\"mslp\":1011.4,\"uv_index_raw\":0.96,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586613600,\"fcst_valid_local\":\"2020-04-11T17:00:00+0300\",\"num\":6,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":2,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":46,\"precip_type\":\"rain\",\"qpf\":0.1,\"snow_qpf\":0,\"rh\":38,\"wspd\":10,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":76,\"vis\":16,\"mslp\":1012.2,\"uv_index_raw\":0.34,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586617200,\"fcst_valid_local\":\"2020-04-11T18:00:00+0300\",\"num\":7,\"day_ind\":\"D\",\"temp\":14,\"dewpt\":1,\"hi\":14,\"wc\":13,\"feels_like\":13,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":40,\"precip_type\":\"rain\",\"qpf\":0.75,\"snow_qpf\":0,\"rh\":41,\"wspd\":17,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":28,\"clds\":81,\"vis\":7,\"mslp\":1013.13,\"uv_index_raw\":0.06,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586620800,\"fcst_valid_local\":\"2020-04-11T19:00:00+0300\",\"num\":8,\"day_ind\":\"N\",\"temp\":13,\"dewpt\":2,\"hi\":13,\"wc\":11,\"feels_like\":11,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Saturday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":20,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":48,\"wspd\":17,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":84,\"vis\":16,\"mslp\":1014.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586624400,\"fcst_valid_local\":\"2020-04-11T20:00:00+0300\",\"num\":9,\"day_ind\":\"N\",\"temp\":12,\"dewpt\":3,\"hi\":12,\"wc\":10,\"feels_like\":10,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":35,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":58,\"wspd\":16,\"wdir\":315,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":88,\"vis\":16,\"mslp\":1015.4,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586628000,\"fcst_valid_local\":\"2020-04-11T21:00:00+0300\",\"num\":10,\"day_ind\":\"N\",\"temp\":10,\"dewpt\":4,\"hi\":10,\"wc\":8,\"feels_like\":8,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":66,\"wspd\":18,\"wdir\":322,\"wdir_cardinal\":\"NW\",\"gust\":31,\"clds\":88,\"vis\":16,\"mslp\":1016.22,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586631600,\"fcst_valid_local\":\"2020-04-11T22:00:00+0300\",\"num\":11,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":7,\"feels_like\":7,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":68,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":92,\"vis\":16,\"mslp\":1016.8,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586635200,\"fcst_valid_local\":\"2020-04-11T23:00:00+0300\",\"num\":12,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":73,\"wspd\":18,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":93,\"vis\":16,\"mslp\":1017.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586638800,\"fcst_valid_local\":\"2020-04-12T00:00:00+0300\",\"num\":13,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":4,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":45,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":16,\"wdir\":311,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":94,\"vis\":16,\"mslp\":1017.9,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586642400,\"fcst_valid_local\":\"2020-04-12T01:00:00+0300\",\"num\":14,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":3,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":42,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":75,\"wspd\":14,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":96,\"vis\":16,\"mslp\":1018.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586646000,\"fcst_valid_local\":\"2020-04-12T02:00:00+0300\",\"num\":15,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":304,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":95,\"vis\":16,\"mslp\":1018.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586649600,\"fcst_valid_local\":\"2020-04-12T03:00:00+0300\",\"num\":16,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":296,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586653200,\"fcst_valid_local\":\"2020-04-12T04:00:00+0300\",\"num\":17,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":2,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":8,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586656800,\"fcst_valid_local\":\"2020-04-12T05:00:00+0300\",\"num\":18,\"day_ind\":\"N\",\"temp\":6,\"dewpt\":2,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":9,\"wdir\":281,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1019.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586660400,\"fcst_valid_local\":\"2020-04-12T06:00:00+0300\",\"num\":19,\"day_ind\":\"D\",\"temp\":6,\"dewpt\":1,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":72,\"wspd\":10,\"wdir\":278,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1019.9,\"uv_index_raw\":0.03,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":4,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586664000,\"fcst_valid_local\":\"2020-04-12T07:00:00+0300\",\"num\":20,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":1,\"hi\":7,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":68,\"wspd\":12,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":0.18,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586667600,\"fcst_valid_local\":\"2020-04-12T08:00:00+0300\",\"num\":21,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":0,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":19,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":61,\"wspd\":13,\"wdir\":297,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1020.4,\"uv_index_raw\":0.56,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586671200,\"fcst_valid_local\":\"2020-04-12T09:00:00+0300\",\"num\":22,\"day_ind\":\"D\",\"temp\":8,\"dewpt\":-1,\"hi\":8,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":11,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":54,\"wspd\":13,\"wdir\":308,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1020.5,\"uv_index_raw\":1.14,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586674800,\"fcst_valid_local\":\"2020-04-12T10:00:00+0300\",\"num\":23,\"day_ind\":\"D\",\"temp\":9,\"dewpt\":-2,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":10,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":47,\"wspd\":16,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":93,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":1.78,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586678400,\"fcst_valid_local\":\"2020-04-12T11:00:00+0300\",\"num\":24,\"day_ind\":\"D\",\"temp\":10,\"dewpt\":-3,\"hi\":10,\"wc\":7,\"feels_like\":7,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":9,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":41,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":34,\"clds\":93,\"vis\":16,\"mslp\":1020.07,\"uv_index_raw\":2.3,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":6,\"golf_category\":\"Good\",\"severity\":1}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":650,"y":600,"wires":[["230e06de.43ccca"]]},{"id":"cab453f5.becfd","type":"ui_chart","z":"c645a74f.f53008","name":"","group":"5fe43d3f.98d414","order":4,"width":0,"height":0,"label":"Temperature chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":600,"wires":[[]]},{"id":"e7598df6.510e4","type":"inject","z":"4e6d1d28.23a1a4","name":"Set Unit","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":160,"y":380,"wires":[["fb8cfbac.c6d9c8"]]},{"id":"fb8cfbac.c6d9c8","type":"change","z":"4e6d1d28.23a1a4","name":"unit m/e","rules":[{"t":"set","p":"unit","pt":"global","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["3332a460.9c85fc"]]},{"id":"3332a460.9c85fc","type":"debug","z":"4e6d1d28.23a1a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":380,"wires":[]},{"id":"de2de82d.497928","type":"function","z":"188b67e3.5e7cf8","name":"Setup","func":"myurl= \"https://api.weather.com/v1/geocode/\"+global.get(\"lat\")+\"/\"+global.get(\"lon\")+\"/forecast/hourly/24hour.json?units=\"+global.get(\"unit\")+\"&language=en-US&apiKey=6532d6454b8aa370768e63d6ba5a832e\"//+global.get(\"twcapikey\")\nmsg.url=myurl\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["9229e755.9e29e8"]]},{"id":"bb3abaac.8fc608","type":"function","z":"188b67e3.5e7cf8","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["de2de82d.497928"]]},{"id":"aa3ead9e.a95cc","type":"ui_button","z":"4e6d1d28.23a1a4","name":"","group":"a4160ef6.0d2c6","order":5,"width":0,"height":0,"passthru":false,"label":"Get Weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":580,"wires":[["f70d2c0b.79ff2"]]},{"id":"b8c8a153.e0b4f","type":"ui_dropdown","z":"c645a74f.f53008","name":"","label":"Units F/C","tooltip":"","place":"Select option","group":"a4160ef6.0d2c6","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"F","value":"e","type":"str"},{"label":"C","value":"m","type":"str"}],"payload":"","topic":"","x":210,"y":740,"wires":[["a00836eb.846ae8"]]},{"id":"6d52c4ff.dc2ffc","type":"debug","z":"c645a74f.f53008","name":"Units","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":740,"wires":[]},{"id":"a00836eb.846ae8","type":"function","z":"c645a74f.f53008","name":"Check","func":"global.set(\"unit\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":740,"wires":[["6d52c4ff.dc2ffc"]]},{"id":"b4c68ef3.836e3","type":"link in","z":"c645a74f.f53008","name":"Util24H","links":["6583d4e3.35498c"],"x":580,"y":540,"wires":[["c6225d51.ae1e2"]]},{"id":"6583d4e3.35498c","type":"link out","z":"188b67e3.5e7cf8","name":"toDashboard","links":["b4c68ef3.836e3"],"x":615,"y":540,"wires":[]},{"id":"e853de72.4585d","type":"comment","z":"c645a74f.f53008","name":"24ForecastfromTWC","info":"","x":230,"y":500,"wires":[]},{"id":"2f446d45.f8fd92","type":"http request","z":"188b67e3.5e7cf8","name":"Current Weather WU","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":740,"wires":[["40adfd10.33ad74","bd421a3d.d1d188"]]},{"id":"40adfd10.33ad74","type":"debug","z":"188b67e3.5e7cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":740,"wires":[]},{"id":"e3283f19.a0092","type":"function","z":"188b67e3.5e7cf8","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmsg.url= \"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO308&format=json&units=m&apiKey=\"+flow.get(\"twcapikey\")\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":740,"wires":[["2f446d45.f8fd92"]]},{"id":"bd421a3d.d1d188","type":"function","z":"188b67e3.5e7cf8","name":"Mapping","func":"msg.payloadold=msg.payload.observations[0]\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.metric.temp\nmsg.payload.observation=\"\"\nmsg.payload.humidity   =msg.payloadold.humidity\nmsg.payload.pressure   =msg.payloadold.metric.pressure\nmsg.payload.uvindex    =msg.payloadold.uvI\nmsg.payload.precip     =msg.payloadold.precipTotal\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.obsTimeLocal\nmsg.payload.stationID=msg.payloadold.stationID\nmsg.payload.lat=msg.payloadold.lat\nmsg.payload.lon=msg.payloadold.lon\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":760,"y":800,"wires":[["9a87578a.403408"]]},{"id":"9a87578a.403408","type":"debug","z":"188b67e3.5e7cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":800,"wires":[]},{"id":"5f61bcf1.ea6344","type":"inject","z":"188b67e3.5e7cf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["e3283f19.a0092"]]},{"id":"de46e637.629868","type":"comment","z":"188b67e3.5e7cf8","name":"Weather Underground Example","info":"","x":170,"y":680,"wires":[]},{"id":"4c5530c.bfcd7d","type":"comment","z":"4e6d1d28.23a1a4","name":"VERSION:20200419","info":"","x":1070,"y":60,"wires":[]},{"id":"3e78cbca.b7ae94","type":"comment","z":"c645a74f.f53008","name":"to View use https://thinklab??.mybluemix.net/ui/","info":"","x":320,"y":40,"wires":[]},{"id":"4c6322ee.70ebcc","type":"ui_template","z":"188b67e3.5e7cf8","group":"5f9caff5.3cf8a","name":"Geo Location","order":0,"width":0,"height":0,"format":"<iframe src=\"/latlon\"></iframe>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":180,"wires":[[]]},{"id":"73544e03.2be82","type":"function","z":"c645a74f.f53008","name":"Icons","func":"//https://github.com/Paul-Reed/weather-icons-lite\n//https://iconify.design/icon-sets/wi/\n//msg.payload=\"wi-alien\"\nmsg.payload=\"wi-wu-nt_tstorms wi-rotate-180\"\n\nif(msg.payload.observation ==\"Partly Cloudy\")\nmsg.payload=\"wi-wu-partlycloudy\"\n\nif(msg.payload.observation ==\"Cloudy\")\nmsg.payload=\"wi-wu-cloudy\"\n\nif(msg.payload.observation ==\"Sunny\")\nmsg.payload=\"wi-wu-clear-day\"\n\nmsg.payload=\"wi-wu-nt_tstorms wi-rotate-180\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["c19899fd.9e3c88","13400344.05dbcd"]]},{"id":"c19899fd.9e3c88","type":"ui_template","z":"c645a74f.f53008","group":"42dd2194.8f03e","name":"weather icon","order":1,"width":"2","height":"5","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"wi {{msg.payload}} wi-4x\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":390,"y":420,"wires":[[]]},{"id":"13400344.05dbcd","type":"debug","z":"c645a74f.f53008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":370,"y":460,"wires":[]},{"id":"6f8ea17b.3d16b","type":"ui_template","z":"188b67e3.5e7cf8","group":"9f85eb05.e951b8","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":780,"y":60,"wires":[[]]}]
