node-red/2nd-pythonconnection.flow
[{"id":"8bbac3c4.a517f8","type":"websocket in","z":"9c461ad4.c7926","name":"","server":"38c5f27a.ccc3e6","client":"","x":470,"y":240,"wires":[["9300c949.348828","a9c552b6.9776b"]]},{"id":"77ba111f.9dbee8","type":"websocket out","z":"9c461ad4.c7926","name":"","server":"38c5f27a.ccc3e6","client":"","x":440,"y":160,"wires":[]},{"id":"4a282e7e.82acd","type":"function","z":"9c461ad4.c7926","name":"{\"cmd\":\"Hello\"} - test","func":"msg.payload={\"cmd\":\"hello python\"}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":200,"wires":[["77ba111f.9dbee8"]]},{"id":"41d57653.792068","type":"inject","z":"9c461ad4.c7926","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":140,"wires":[["4a282e7e.82acd"]]},{"id":"9d520b3f.91b328","type":"function","z":"9c461ad4.c7926","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":400,"wires":[["77ba111f.9dbee8"]]},{"id":"7806483e.c76db","type":"inject","z":"9c461ad4.c7926","name":"","topic":"","payload":"getInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":360,"wires":[["9d520b3f.91b328"]]},{"id":"af0b4451.66968","type":"function","z":"9c461ad4.c7926","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":580,"wires":[["77ba111f.9dbee8"]]},{"id":"1a895792.0566b","type":"inject","z":"9c461ad4.c7926","name":"","topic":"","payload":"getJan","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":500,"wires":[["af0b4451.66968"]]},{"id":"9300c949.348828","type":"json","z":"9c461ad4.c7926","name":"","property":"payload","action":"","pretty":false,"x":520,"y":300,"wires":[["75393649.022fb","124f732e.2a45e5","cc74df9b.0998d8","670e261a.9fd108"]]},{"id":"75393649.022fb","type":"debug","z":"9c461ad4.c7926","name":"InComing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":300,"wires":[]},{"id":"8a2d3478.e0c968","type":"function","z":"9c461ad4.c7926","name":"Get Jan","func":"//msg.payload={\"Rainy\":{\"0\":\"Wet\",\"1\":\"Dry\"},\"Days\":{\"0\":20,\"1\":10},\"month_name\":{\"0\":\"Jan\",\"1\":\"Jan\"},\"cmd\":\"getInfo\"}\n\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\n\nmymsg.payload[0].data[0][0]=msg.payload.Days[\"0\"]\nmymsg.payload[0].data[1][0]=msg.payload.Days[\"1\"]\nreturn mymsg","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["361f970d.f0c7b","6ae4525a.37f80c"]]},{"id":"361f970d.f0c7b","type":"ui_chart","z":"9c461ad4.c7926","name":"","group":"13c00d0d.848f7b","order":1,"width":0,"height":0,"label":"Rainy History","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1030,"y":540,"wires":[[]]},{"id":"6ae4525a.37f80c","type":"debug","z":"9c461ad4.c7926","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":580,"wires":[]},{"id":"15a54bab.14138c","type":"ui_button","z":"9c461ad4.c7926","name":"","group":"ced71a1c.287eb8","order":3,"width":0,"height":0,"passthru":false,"label":"Get Jan History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan","payloadType":"str","topic":"","x":140,"y":540,"wires":[["af0b4451.66968"]]},{"id":"9d83404d.a78a48","type":"function","z":"9c461ad4.c7926","name":"Clear","func":"mymsg={}\nmymsg.payload=[]\nreturn mymsg","outputs":1,"noerr":0,"x":790,"y":620,"wires":[["361f970d.f0c7b"]]},{"id":"124f732e.2a45e5","type":"switch","z":"9c461ad4.c7926","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getTemp","vt":"str"},{"t":"eq","v":"getInfo","vt":"str"},{"t":"eq","v":"getMonth","vt":"str"},{"t":"eq","v":"getJan","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":510,"y":440,"wires":[["f48e3e74.1c027","13cc7187.c61aee","73e99e18.9c6b68"],["dbd50a5b.5c2df"],["8ff05c8e.aca66"],["8a2d3478.e0c968"],[]]},{"id":"eddc3448.f48508","type":"inject","z":"9c461ad4.c7926","name":"getMonth","topic":"getMonth","payload":"{\"cmd\":\"getMonth\",\"month\":\"Feb\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":40,"wires":[["77ba111f.9dbee8"]]},{"id":"8ff05c8e.aca66","type":"function","z":"9c461ad4.c7926","name":"getMonth","func":"//msg.payload={\"month\":\"Feb\",\"cmd\":\"getInfo\",\"dry\":9,\"wet\":19}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\nif( msg.payload.wet === undefined)\nmsg.payload.dry\nif( msg.payload.dry === undefined)\nmsg.payload.dry\nmymsg.payload[0].data[0][0]=msg.payload.dry\nmymsg.payload[0].data[1][0]=msg.payload.wet\nmymsg.payload[0].labels[0]=msg.payload.month\nreturn mymsg","outputs":1,"noerr":0,"x":800,"y":540,"wires":[["361f970d.f0c7b"]]},{"id":"c52619cd.7cda68","type":"ui_button","z":"9c461ad4.c7926","name":"","group":"ced71a1c.287eb8","order":4,"width":0,"height":0,"passthru":false,"label":"Get  Apr History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getMonth\",\"month\":\"Apr\"}","payloadType":"json","topic":"","x":140,"y":80,"wires":[["77ba111f.9dbee8"]]},{"id":"dbd50a5b.5c2df","type":"ui_gauge","z":"9c461ad4.c7926","name":"","group":"aceaaedf.ca3e","order":1,"width":0,"height":0,"gtype":"gage","title":"# of Records","label":"units","format":"{{msg.payload.tablesize}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":500,"wires":[]},{"id":"5a5ceed4.402458","type":"ui_button","z":"9c461ad4.c7926","name":"","group":"ced71a1c.287eb8","order":1,"width":0,"height":0,"passthru":false,"label":"Get  Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getInfo\",\"month\":\"Apr\"}","payloadType":"json","topic":"","x":160,"y":440,"wires":[["77ba111f.9dbee8"]]},{"id":"94bb2361.8e3d18","type":"inject","z":"9c461ad4.c7926","name":"getTemp","topic":"getTemp","payload":"{\"cmd\":\"getTemp\",\"month\":\"Feb\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":300,"wires":[["77ba111f.9dbee8"]]},{"id":"d5f92e5b.7a6c88","type":"ui_button","z":"9c461ad4.c7926","name":"","group":"ced71a1c.287eb8","order":2,"width":0,"height":0,"passthru":false,"label":"GetTempHum Feb","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getTemp\",\"month\":\"Feb\"}","payloadType":"json","topic":"","x":150,"y":260,"wires":[["77ba111f.9dbee8"]]},{"id":"f48e3e74.1c027","type":"debug","z":"9c461ad4.c7926","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":380,"wires":[]},{"id":"13cc7187.c61aee","type":"ui_gauge","z":"9c461ad4.c7926","name":"","group":"aceaaedf.ca3e","order":2,"width":0,"height":0,"gtype":"gage","title":"Monthy Temp Avg","label":"units","format":"{{msg.payload.temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":420,"wires":[]},{"id":"73e99e18.9c6b68","type":"ui_gauge","z":"9c461ad4.c7926","name":"","group":"aceaaedf.ca3e","order":3,"width":0,"height":0,"gtype":"gage","title":"RH %  Avg","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":460,"wires":[]},{"id":"3806e790.38ba1","type":"ui_dropdown","z":"9c461ad4.c7926","name":"","label":"Choose Month","tooltip":"","place":"Select option","group":"ced71a1c.287eb8","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Jan","value":"Jan","type":"str"},{"label":"Feb","value":"Feb","type":"str"},{"label":"Mar","value":"Mar","type":"str"},{"label":"Apr","value":"Apr","type":"str"},{"label":"May","value":"May","type":"str"}],"payload":"","topic":"","x":160,"y":680,"wires":[["608e7c88.66d82c","5f628d8c.cdc0e4"]]},{"id":"608e7c88.66d82c","type":"debug","z":"9c461ad4.c7926","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":640,"wires":[]},{"id":"b3bae5db.5768c","type":"ui_button","z":"9c461ad4.c7926","name":"","group":"13c00d0d.848f7b","order":2,"width":0,"height":0,"passthru":false,"label":"Clear History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan","payloadType":"str","topic":"","x":590,"y":620,"wires":[["9d83404d.a78a48"]]},{"id":"5f628d8c.cdc0e4","type":"function","z":"9c461ad4.c7926","name":"{\"cmd\": getTemp/hr for Month","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getTemp\",\"month\":\"???\"}\nmsg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":720,"wires":[["77ba111f.9dbee8","aa1787bd.626038"]]},{"id":"cc74df9b.0998d8","type":"ui_text","z":"9c461ad4.c7926","group":"13c00d0d.848f7b","order":5,"width":"6","height":"2","name":"","label":"Incoming","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":240,"wires":[]},{"id":"aa1787bd.626038","type":"function","z":"9c461ad4.c7926","name":"{\"cmd\": get History","func":"//#month=msg.payload\n//msg.payload={\"cmd\":\"getTemp\",\"month\":\"???\"}\nmsg.payload.cmd=\"getMonth\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":760,"wires":[["77ba111f.9dbee8"]]},{"id":"a9c552b6.9776b","type":"debug","z":"9c461ad4.c7926","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":200,"wires":[]},{"id":"670e261a.9fd108","type":"function","z":"9c461ad4.c7926","name":"","func":"msg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["3ada070c.bac87"]]},{"id":"3ada070c.bac87","type":"ui_text","z":"9c461ad4.c7926","group":"ced71a1c.287eb8","order":5,"width":"6","height":"2","name":"","label":"LastMessage","format":"{{msg.payload.ts}}","layout":"row-spread","x":960,"y":180,"wires":[]},{"id":"52b4db38.85c9b4","type":"catch","z":"9c461ad4.c7926","name":"","scope":null,"uncaught":false,"x":600,"y":740,"wires":[["9943f63c.bd8a58"]]},{"id":"9943f63c.bd8a58","type":"debug","z":"9c461ad4.c7926","name":"Error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":740,"wires":[]},{"id":"38c5f27a.ccc3e6","type":"websocket-listener","z":"","path":"/ws/myweather/","wholemsg":"false"},{"id":"13c00d0d.848f7b","type":"ui_group","z":"","name":"History","tab":"e98f6108.46c58","order":2,"disp":false,"width":"16","collapse":false},{"id":"ced71a1c.287eb8","type":"ui_group","z":"","name":"Actions","tab":"e98f6108.46c58","order":1,"disp":false,"width":"6","collapse":false},{"id":"aceaaedf.ca3e","type":"ui_group","z":"","name":"Temp/RH","tab":"e98f6108.46c58","order":3,"disp":false,"width":"4","collapse":false},{"id":"e98f6108.46c58","type":"ui_tab","z":"","name":"2.GettingData","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
