node-red/LAB1239alltabs.flow
[{"id":"1d24d277.363b9e","type":"tab","label":"Node-RED","disabled":false,"info":""},{"id":"676ef9b9.6a1538","type":"tab","label":"0.Setup","disabled":false,"info":""},{"id":"6349380f.ef9898","type":"tab","label":"1.Sensor","disabled":false,"info":""},{"id":"6f1a45a.a42e5bc","type":"tab","label":"2.myPWS","disabled":false,"info":""},{"id":"496d1953.b2bc58","type":"tab","label":"3.allPWS","disabled":false,"info":""},{"id":"167e1d24.c17e33","type":"tab","label":"WeatherHistory","disabled":false,"info":""},{"id":"3bbbe390.dad58c","type":"tab","label":"WeatherForecast","disabled":false,"info":""},{"id":"a30b5bd9.8c76d8","type":"tab","label":"Utils","disabled":false,"info":""},{"id":"b9b0f68.142db08","type":"wiotp","z":"","name":"o062sb"},{"id":"46b94481.65c85c","type":"wiotp","z":"","name":"n8ve7d-mARKUS SPACE"},{"id":"f3d8c395.7a0d5","type":"ibmiot","z":"","name":"IoTBak","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c3ca51fe.2d4e6","type":"ui_group","z":"","name":"All PWS","tab":"b5674cbd.e0019","order":1,"disp":false,"width":"24","collapse":false},{"id":"b5674cbd.e0019","type":"ui_tab","z":"","name":"2. All PWS","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"da7241ca.ee1d5","type":"ui_group","z":"","name":"PWS","tab":"b31e1fea.f89d","order":1,"disp":true,"width":"6","collapse":false},{"id":"72cc2e69.d3517","type":"ui_group","z":"","name":"Map","tab":"b31e1fea.f89d","order":2,"disp":true,"width":"10","collapse":false},{"id":"3487cf39.3f61e","type":"ui_group","z":"","name":"TWC 24H Forecast","tab":"b31e1fea.f89d","order":4,"disp":true,"width":"6","collapse":false},{"id":"b31e1fea.f89d","type":"ui_tab","z":"","name":"1. My PWS","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1f173531.fe34cb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"36a2354f.92670a","type":"ui_tab","z":"","name":"99. Util Geo Location","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"1397591e.d468e7","type":"ui_group","z":"","name":"Your IP Geo Location","tab":"36a2354f.92670a","disp":true,"width":"14","collapse":false},{"id":"13021934.20b057","type":"ui_group","z":"","name":"Infos","tab":"b31e1fea.f89d","order":3,"disp":true,"width":"4","collapse":false},{"id":"bcc7c32f.f0981","type":"ui_group","z":"","name":"hidden_group","tab":"5b3be690.6b8da8","disp":false,"width":"6","collapse":false},{"id":"5b3be690.6b8da8","type":"ui_tab","z":"","name":"100.clock-mvk2020","icon":"home","order":6,"disabled":false,"hidden":false},{"id":"d76122c.dd372e","type":"websocket-listener","z":"","path":"/ws/myweather2/","wholemsg":"false"},{"id":"44f18fda.2ce4a","type":"ui_group","z":"","name":"History","tab":"4e199a86.6848c4","order":2,"disp":false,"width":"10","collapse":false},{"id":"f4dbbd7a.c32cf","type":"ui_group","z":"","name":"Actions","tab":"4e199a86.6848c4","order":1,"disp":false,"width":"6","collapse":false},{"id":"f8191090.6edb2","type":"ui_group","z":"","name":"Temp/RH","tab":"4e199a86.6848c4","order":3,"disp":false,"width":"4","collapse":false},{"id":"4e199a86.6848c4","type":"ui_tab","z":"","name":"3. WeatherHistory","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"13174872.1f13c8","type":"websocket-listener","z":"","path":"/ws/myweather1/","wholemsg":"false"},{"id":"3f0f51c5.111b8e","type":"ui_group","z":"","name":"Monthly History","tab":"fd0d21d8.583e9","order":1,"disp":false,"width":"8","collapse":false},{"id":"411988da.c1f548","type":"ui_group","z":"","name":"by Month","tab":"fd0d21d8.583e9","order":2,"disp":true,"width":"4","collapse":false},{"id":"503e045d.0186ac","type":"ui_group","z":"","name":"Multiple Month ","tab":"fd0d21d8.583e9","order":4,"disp":false,"width":"10","collapse":false},{"id":"fd0d21d8.583e9","type":"ui_tab","z":"","name":"4. WeatherForecast","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"a1871ef4.d2cfc","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":"Think2020DB"},{"id":"7718e484.83239c","type":"ui_group","z":"","name":"by Range","tab":"fd0d21d8.583e9","order":3,"disp":true,"width":"4","collapse":false},{"id":"429e17dd.ec37e8","type":"comment","z":"a30b5bd9.8c76d8","name":"Get your Geo Location","info":"your url - node red instance /latlon\n\nhttps://thinklabxx.mybluemix.net/latlon\nor \n\n\nhttps://thinklab1239.mybluemix.net/latlon","x":140,"y":60,"wires":[]},{"id":"bd06cdc1.627d2","type":"http in","z":"a30b5bd9.8c76d8","name":"","url":"/latlon","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["462c6974.236ca8"]]},{"id":"462c6974.236ca8","type":"template","z":"a30b5bd9.8c76d8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n\n<h1>ThinkLAB-1239 - Your IP Geo Location  </h1>\n\nTry this in case it does not work or you use a VM: <a href=\"https://www.latlong.net/\" target=_new1>Find your City Location</a><br>\n \n  <p id=\"demo\"> Please wait a little ...  </p><br>\n\nInfos From <a href=\"https://geolocation-db.com\" target=_new2>https://geolocation-db.com</a><br>\n\n    <div>Country: <span id=\"country\"></span>\n    <div>State: <span id=\"state\"></span>\n    <div>City: <span id=\"city\"></span>\n    <div>Latitude: <span id=\"latitude\"></span>\n    <div>Longitude: <span id=\"longitude\"></span>\n    <div>IP: <span id=\"IPv4\"></span><br>\n    <script>\n    \n\tvar country = document.getElementById('country');\n\tvar state = document.getElementById('state');\n\tvar city = document.getElementById('city');\n\tvar latitude = document.getElementById('latitude');\n\tvar longitude = document.getElementById('longitude');\n\tvar ip = document.getElementById('ipv4');\n               \n\tfunction callback(data)\n\t{\n\t\tcountry.innerHTML = data.country_name;\n\t\tstate.innerHTML = data.state;\n\t\tcity.innerHTML = data.city;\n\t\tlatitude.innerHTML = data.latitude;\n\t\tlongitude.innerHTML = data.longitude;\n\t\tip.innerHTML = data.IPv4;\n\t}\n\n\tvar script = document.createElement('script');\n\tscript.type = 'text/javascript';\n\tscript.src = 'https://geolocation-db.com/jsonp';\n\tvar h = document.getElementsByTagName('script')[0];\n\th.parentNode.insertBefore(script, h);\n\t           \n\nvar x = document.getElementById(\"demo\");\nfunction showPosition(position) {\n    console.log(position)\n  x.innerHTML = \"Latitude: \" + position.coords.latitude + \n  \"<br>Longitude: \" + position.coords.longitude;\n  lat = document.getElementById(\"lat\");\n  lat.value=position.coords.latitude;\n  lon = document.getElementById(\"lon\");\n  lon.value=position.coords.longitude;\n}\nfunction getLocation() {\n  if (navigator.geolocation) {\n    navigator.geolocation.getCurrentPosition(showPosition);\n  } else { \n    x.innerHTML = \"Geolocation is not supported by this browser.\";\n  }\n}\n\n\n\ngetLocation() \n\n\n</script>\n</body>\n</html>\n","x":310,"y":140,"wires":[["9fc4d4ca.3c5718"]]},{"id":"9fc4d4ca.3c5718","type":"http response","z":"a30b5bd9.8c76d8","name":"","x":470,"y":140,"wires":[]},{"id":"bde050c8.5322f","type":"http request","z":"6349380f.ef9898","name":"Current Weather TWC","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":660,"y":220,"wires":[["aa66078d.68c478","693b830d.ded3bc"]]},{"id":"57075228.eae7fc","type":"function","z":"6349380f.ef9898","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["da57e17c.2567d"]]},{"id":"693b830d.ded3bc","type":"debug","z":"6349380f.ef9898","name":"TWC Api Call","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":220,"wires":[]},{"id":"da57e17c.2567d","type":"function","z":"6349380f.ef9898","name":"setup url.api call get weather","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmyurl= \"https://api.weather.com/v3/wx/observations/current?apiKey=\"+global.get(\"twcapikey\")+\"&geocode=\"+global.get(\"lat\")+\"%2C\"+global.get(\"lon\")+\"&units=\"+global.get(\"unit\")+\"&language=en-US&format=json\"\nmsg.url=myurl\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["bde050c8.5322f"]]},{"id":"7489c2cd.d9aa7c","type":"comment","z":"6349380f.ef9898","name":"API documentation","info":"https://weather.com/swagger-docs/call-for-code","x":650,"y":100,"wires":[]},{"id":"81aef0ec.e034c","type":"debug","z":"6349380f.ef9898","name":"MyPWSIncoming","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":420,"wires":[]},{"id":"ed41546c.cab8a8","type":"ibmiot in","z":"6349380f.ef9898","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":420,"wires":[["27e45dc2.8b8c72"]]},{"id":"aa66078d.68c478","type":"function","z":"6349380f.ef9898","name":"Mapping","func":"msg.payloadold=msg.payload\nmsg.payload={}\n//msg.payload.windDirection=msg.payloadold.windDirection\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.icon       =msg.payloadold.iconCode\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=parseFloat(global.get(\"lat\"))\nmsg.payload.lon=parseFloat(global.get(\"lon\"))\nmsg.payload.source=\"TWC\"\nmsg.payload.unit=global.get(\"unit\")\nmsg.payload.pws=global.get(\"labid\")\nmsg.deviceId=\"pws\"+msg.payload.pws\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["d02bb0e.716c75","7e6ac6a2.fb8d58"]]},{"id":"21dbcece.d7a152","type":"inject","z":"6349380f.ef9898","name":"Payload TWC example","topic":"","payload":"{\"cloudCeiling\":5000,\"cloudCoverPhrase\":\"Mostly Cloudy\",\"dayOfWeek\":\"Friday\",\"dayOrNight\":\"D\",\"expirationTimeUtc\":1586545455,\"iconCode\":28,\"iconCodeExtend\":2890,\"obsQualifierCode\":null,\"obsQualifierSeverity\":null,\"precip1Hour\":0,\"precip6Hour\":0,\"precip24Hour\":0,\"pressureAltimeter\":1005.08,\"pressureChange\":2.03,\"pressureMeanSeaLevel\":1005.2,\"pressureTendencyCode\":1,\"pressureTendencyTrend\":\"Rising\",\"relativeHumidity\":42,\"snow1Hour\":0,\"snow6Hour\":0,\"snow24Hour\":0,\"sunriseTimeLocal\":\"2020-04-10T06:43:19-0400\",\"sunriseTimeUtc\":1586515399,\"sunsetTimeLocal\":\"2020-04-10T19:56:57-0400\",\"sunsetTimeUtc\":1586563017,\"temperature\":7,\"temperatureChange24Hour\":-2,\"temperatureDewPoint\":-5,\"temperatureFeelsLike\":2,\"temperatureHeatIndex\":7,\"temperatureMax24Hour\":8,\"temperatureMaxSince7Am\":7,\"temperatureMin24Hour\":1,\"temperatureWindChill\":2,\"uvDescription\":\"Moderate\",\"uvIndex\":4,\"validTimeLocal\":\"2020-04-10T14:54:15-0400\",\"validTimeUtc\":1586544855,\"visibility\":16.09,\"windDirection\":300,\"windDirectionCardinal\":\"WNW\",\"windGust\":56,\"windSpeed\":37,\"wxPhraseLong\":\"Mostly Cloudy/Wind\",\"wxPhraseMedium\":\"Mostly Cloudy/Wind\",\"wxPhraseShort\":\"M Cldy/Wind\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[[]]},{"id":"d02bb0e.716c75","type":"debug","z":"6349380f.ef9898","name":"mapping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":320,"wires":[]},{"id":"7e6ac6a2.fb8d58","type":"ibmiot out","z":"6349380f.ef9898","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"issetinmapping","deviceType":"pws","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"MyPWS","service":"registered","x":880,"y":280,"wires":[]},{"id":"27e45dc2.8b8c72","type":"function","z":"6349380f.ef9898","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["81aef0ec.e034c"]]},{"id":"26f466a3.5b40ba","type":"function","z":"496d1953.b2bc58","name":"Set PWS Marker","func":"\nmsg.payload.layer = \"pwsall\";\nmsg.payload.name  = msg.payload.pws\nmsg.payload.icon  = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(!isNaN(msg.payload.pws))\n{\n    msg.payload.iconColor = \"orange\"//+msg.payload.pws;\n    if(parseInt(msg.payload.pws) < 11)\n        msg.payload.iconColor = \"#55FF\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 10 && parseInt(msg.payload.pws) <21 )\n        msg.payload.iconColor = \"#FF55\"+msg.payload.pws;\n    if(parseInt(msg.payload.pws) > 20 && parseInt(msg.payload.pws) <31 )\n        msg.payload.iconColor = \"#\"+msg.payload.pws+\"22FF\"\n    if(parseInt(msg.payload.pws) > 30 && parseInt(msg.payload.pws) <41 )\n        msg.payload.iconColor = \"#55\"+msg.payload.pws+\"88\"\n}\n\n\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n//https://github.com/dceejay/RedMap/blob/master/emojilist.md    \n// Icons https://fontawesome.com/v4.7.0/icons/    \nif(msg.payload.pws == \"iss\")\n{\nmsg.payload.name  = \"Space Station\";\nmsg.payload.icon  = \"fa-space-shuttle\";\nmsg.payload.iconColor = \"blue\";\n}\nif(msg.payload.pws == \"cprb\")\n{\nmsg.payload.name  = \"Weather RB Station\";\nmsg.payload.icon  = \":fishing_pole_and_fish:\";\nmsg.payload.iconColor = \"green\";\n}\n\nif(msg.payload.pws == \"pwssigi\")\n{\nmsg.payload.name  = \"St Pete  Station\";\nmsg.payload.icon  = \":sun_with_face:\";\nmsg.payload.iconColor = \"yellow\";\n}\n\nmsg.payload.command = { zoom:3, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n//delete msg.payload.command \nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["b500ad68.6c2c6","f2ff5cc2.24be5"]]},{"id":"b500ad68.6c2c6","type":"ui_worldmap","z":"496d1953.b2bc58","group":"c3ca51fe.2d4e6","order":4,"width":"24","height":"12","name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"4","maxage":"1200","usermenu":"hide","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldallpws","x":870,"y":320,"wires":[]},{"id":"f2ff5cc2.24be5","type":"debug","z":"496d1953.b2bc58","name":"MapIT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":280,"wires":[]},{"id":"b9e26bfc.8190b8","type":"ibmiot in","z":"496d1953.b2bc58","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"pws","eventType":"+","commandType":"","format":"json","name":"All PWS","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":250,"y":280,"wires":[["c5641f1d.2cb6e","990d19cb.7d9998"]]},{"id":"c5641f1d.2cb6e","type":"debug","z":"496d1953.b2bc58","name":"IoT incoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":340,"wires":[]},{"id":"990d19cb.7d9998","type":"delay","z":"496d1953.b2bc58","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":280,"wires":[["26f466a3.5b40ba"]]},{"id":"69f4e46b.d1a46c","type":"inject","z":"496d1953.b2bc58","name":"Weather Message from Toronto - test","topic":"","payload":"{\"temperature\":6,\"observation\":\"Mostly Cloudy\",\"humidity\":43,\"pressure\":1014.7,\"uvindex\":3,\"precip\":0,\"ts\":1586620806125,\"messtime\":\"2020-04-11T11:50:30-0400\",\"day\":\"Saturday\",\"lat\":43.6711,\"lon\":-79.4141,\"source\":\"TWC\",\"pws\":\"00\",\"layer\":\"pwsall\",\"name\":\"test00\",\"icon\":\"globe\",\"iconColor\":\"orange\",\"command\":{\"zoom\":6,\"lat\":43.6711,\"lon\":-79.4141,\"autopan\":true}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"3","x":270,"y":220,"wires":[["990d19cb.7d9998"]]},{"id":"7c8a3719.6adb78","type":"comment","z":"496d1953.b2bc58","name":"use url ....  youinstance mybluemix.net/worldallpws","info":"or \nhttps://.....mybluemix.net/ui/\nor\nhttps://thinklab1239.mybluemix.net/worldallpws","x":290,"y":160,"wires":[]},{"id":"c75415a4.8e44c8","type":"http request","z":"a30b5bd9.8c76d8","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":350,"y":320,"wires":[["4f675bea.22e1b4","d985fa25.f93288"]]},{"id":"4f675bea.22e1b4","type":"debug","z":"a30b5bd9.8c76d8","name":"IssiPos","active":true,"console":"false","complete":"payload","x":530.5,"y":321.5,"wires":[]},{"id":"840b9818.ed1918","type":"inject","z":"a30b5bd9.8c76d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":108.5,"y":319.25,"wires":[["c75415a4.8e44c8"]]},{"id":"d985fa25.f93288","type":"function","z":"a30b5bd9.8c76d8","name":"Mapping/Send ISS info","func":"//Maybe call the weather API\nmsg.payloadold=msg.payload\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.temperature\nmsg.payload.observation=msg.payloadold.wxPhraseLong\nmsg.payload.humidity   =msg.payloadold.relativeHumidity\nmsg.payload.pressure   =msg.payloadold.pressureMeanSeaLevel\nmsg.payload.uvindex    =msg.payloadold.uvIndex\nmsg.payload.precip     =msg.payloadold.precip1Hour\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.validTimeLocal\nmsg.payload.day=msg.payloadold.dayOfWeek\nmsg.payload.lat=(msg.payloadold.iss_position.latitude).toFixed(4)\nmsg.payload.lon=(msg.payloadold.iss_position.longitude).toFixed(4)\nmsg.payload.source=\"TWC\"\nmsg.payload.pws=\"iss\"\nmsg.deviceId=\"pwsiss\"\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["87a5b84a.bce528"]]},{"id":"b748eae.ea10318","type":"comment","z":"a30b5bd9.8c76d8","name":"Get ISS position and mapp it","info":"","x":160,"y":260,"wires":[]},{"id":"9ec06e98.c4266","type":"inject","z":"6349380f.ef9898","name":"Call TWC - Set Interval to 30sec","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"10","x":190,"y":180,"wires":[["57075228.eae7fc"]]},{"id":"87a5b84a.bce528","type":"debug","z":"a30b5bd9.8c76d8","name":"IssiInfos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":260,"wires":[]},{"id":"e51204a8.12cd78","type":"debug","z":"6f1a45a.a42e5bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":120,"wires":[]},{"id":"51ae4466.e1e58c","type":"comment","z":"6f1a45a.a42e5bc","name":"Make sure you Setup LABID and LatLon 1st","info":"","x":230,"y":100,"wires":[]},{"id":"d7cc16c7.084c78","type":"function","z":"6f1a45a.a42e5bc","name":"Set PWS Marker","func":"\n//https://github.com/dceejay/RedMap/blob/master/emojilist.md    \n// Icons https://fontawesome.com/v4.7.0/icons/ \n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.layer = \"pws\";\nmsg.payload.name = \"pws\"+global.get(\"labid\")\nmsg.payload.icon = \"globe\";\nmsg.payload.iconColor = \"orange\";\n\nif(msg.payload.pws == \"NoLabID\")\n    msg.payload.iconColor = \"black\";\n  \nmsg.payload.command = { zoom:5, \n                            \"lat\":msg.payload.lat,\n                            \"lon\":msg.payload.lon,\n                            autopan:true };\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["23af918a.7af39e","6d6249ce.c2cc78"]]},{"id":"6f33bfd3.34292","type":"function","z":"6f1a45a.a42e5bc","name":"PWS data","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\n//msg.payload.windDirection=msg.payload.windDirection*(2)\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["eea9fcac.bd69b","4eb5399f.0fbee8","a9d58a13.e868e8","d7cc16c7.084c78","71c5be7e.9ebcc","e51204a8.12cd78","3ee74d5a.8cd472","6094b3de.03b83c","4a06d0f6.84a7a"]]},{"id":"eea9fcac.bd69b","type":"ui_gauge","z":"6f1a45a.a42e5bc","name":"","group":"da7241ca.ee1d5","order":4,"width":0,"height":0,"gtype":"gage","title":"Current Temperature","label":"C","format":"{{msg.payload.temperature}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":160,"wires":[]},{"id":"4eb5399f.0fbee8","type":"ui_text","z":"6f1a45a.a42e5bc","group":"13021934.20b057","order":2,"width":0,"height":0,"name":"","label":"Conditions","format":"{{msg.payload.observation}}","layout":"row-spread","x":950,"y":200,"wires":[]},{"id":"a9d58a13.e868e8","type":"ui_text","z":"6f1a45a.a42e5bc","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"name":"","label":"Day","format":"{{msg.payload.day}}","layout":"row-spread","x":930,"y":240,"wires":[]},{"id":"23af918a.7af39e","type":"ui_worldmap","z":"6f1a45a.a42e5bc","group":"72cc2e69.d3517","order":1,"width":"0","height":"0","name":"","lat":"43.6711","lon":"-79.4141","zoom":"3","layer":"Esri","cluster":"6","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"deg","showgrid":"false","path":"/worldmappws","x":740,"y":440,"wires":[]},{"id":"6d6249ce.c2cc78","type":"debug","z":"6f1a45a.a42e5bc","name":"MapIT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"71c5be7e.9ebcc","type":"ui_text","z":"6f1a45a.a42e5bc","group":"72cc2e69.d3517","order":2,"width":0,"height":0,"name":"","label":"Local Time (YYZ)","format":"{{msg.payload.mytime}}","layout":"row-spread","x":970,"y":300,"wires":[]},{"id":"e3c767fe.dd7498","type":"ui_chart","z":"6f1a45a.a42e5bc","name":"","group":"da7241ca.ee1d5","order":4,"width":0,"height":0,"label":"Temperature Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":340,"wires":[[]]},{"id":"3ee74d5a.8cd472","type":"function","z":"6f1a45a.a42e5bc","name":"","func":"var msg1={}\n\n\nmsg.oldpayload=msg.payload\n//msg1.topic=\"Humidity\"\n//msg1.payload=msg.oldpayload.relativeHumidity\n//node.send(msg1)\nmsg1.topic=\"Temperature\"\nmsg1.payload=msg.oldpayload.temperature\nnode.send(msg1)\n","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["e3c767fe.dd7498"]]},{"id":"f63aa056.3f8e3","type":"ui_template","z":"6f1a45a.a42e5bc","group":"3487cf39.3f61e","name":"Outside Image","order":1,"width":"6","height":"4","format":"\n<img src='{{msg.payload.imgurl}}' alt='Image not found'  />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":960,"y":440,"wires":[[]]},{"id":"3269f3f6.368b5c","type":"comment","z":"6f1a45a.a42e5bc","name":"Traffic Cams","info":"https://www.toronto.ca/services-payments/streets-parking-transportation/road-restrictions-closures/rescu-traffic-cameras/\n\n///nYC\nhttps://511ny.org/map#Camera\n//example\nhttps://511ny.org/map/Cctv/4616652--17\n","x":950,"y":400,"wires":[]},{"id":"906630a8.d99c2","type":"ibmiot in","z":"6f1a45a.a42e5bc","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"weather","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":140,"y":160,"wires":[["8e5c3059.18e81"]]},{"id":"8e5c3059.18e81","type":"function","z":"6f1a45a.a42e5bc","name":"GetMyPWS","func":"if(global.get(\"labid\") == \"NoLabID\")\nnode.error(\"Please set your LAB ID\")\n\n\nif (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":220,"wires":[["b30b595a.afa1c8","6f33bfd3.34292"]]},{"id":"b30b595a.afa1c8","type":"debug","z":"6f1a45a.a42e5bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":160,"wires":[]},{"id":"84958974.016858","type":"http request","z":"a30b5bd9.8c76d8","name":"Current Weather","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":460,"wires":[["868c6362.9ec4e","130c5f75.bc1441"]]},{"id":"868c6362.9ec4e","type":"debug","z":"a30b5bd9.8c76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":460,"wires":[]},{"id":"1d583e3f.6651c2","type":"inject","z":"a30b5bd9.8c76d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["1f716027.ed7ef"]]},{"id":"cc2e46b0.287de8","type":"ui_button","z":"a30b5bd9.8c76d8","name":"","group":"3487cf39.3f61e","order":2,"width":0,"height":0,"passthru":false,"label":"24h Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":540,"wires":[[]]},{"id":"179c9d8e.bd7e82","type":"ui_gauge","z":"6f1a45a.a42e5bc","name":"","group":"3487cf39.3f61e","order":3,"width":0,"height":0,"gtype":"gage","title":" Temperature in 24","label":"C","format":"{{msg.payload.forecasts[23].temp}}","min":"-20","max":"90","colors":["#9b26b2","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":580,"wires":[]},{"id":"6aca0163.86a53","type":"function","z":"6f1a45a.a42e5bc","name":"","func":"var d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":580,"wires":[["179c9d8e.bd7e82","98878fcc.09d39"]]},{"id":"98878fcc.09d39","type":"function","z":"6f1a45a.a42e5bc","name":"","func":"//example [{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]\n var mymsg={}\n mymsg.topic=\"Temperature\"\nmymsg.payload=[{\"key\":\"Current\",\"values\":[[0,0]]}]\nmymsg.v=mymsg.payload[0].values[0]\nmsg.payload.forecasts.forEach(function(entry) {\n  //msg.payload.forecasts[23].temp}}\n\nvar a=[]\na.push(entry.num)\na.push(entry.temp)\n//mymsg.payload.values=values\nmymsg.payload[0].values.push(a)\n});\n\nreturn mymsg","outputs":1,"noerr":0,"x":790,"y":640,"wires":[["ef97b63b.c4eb68","52872acd.e6e6f4"]]},{"id":"ef97b63b.c4eb68","type":"debug","z":"6f1a45a.a42e5bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":680,"wires":[]},{"id":"48bcc880.10d7a8","type":"inject","z":"6f1a45a.a42e5bc","name":"Clear all data","topic":"","payload":"[{\"key\":\"Current\",\"values\":[[0,8],[29999,98],[60011,3],[90014,44],[120011,83],[592185,94]]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":650,"y":700,"wires":[["52872acd.e6e6f4"]]},{"id":"7ca74fb7.9c1d9","type":"inject","z":"6f1a45a.a42e5bc","name":"Send Test","topic":"","payload":"[{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586595600,\"fcst_valid_local\":\"2020-04-11T12:00:00+0300\",\"num\":1,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":15,\"feels_like\":15,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":5,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":34,\"wspd\":11,\"wdir\":358,\"wdir_cardinal\":\"N\",\"gust\":null,\"clds\":30,\"vis\":16,\"mslp\":1012.1,\"uv_index_raw\":5.68,\"uv_index\":6,\"uv_warning\":0,\"uv_desc\":\"High\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586599200,\"fcst_valid_local\":\"2020-04-11T13:00:00+0300\",\"num\":2,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":0,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":33,\"wspd\":10,\"wdir\":343,\"wdir_cardinal\":\"NNW\",\"gust\":null,\"clds\":48,\"vis\":16,\"mslp\":1011.6,\"uv_index_raw\":5.34,\"uv_index\":5,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586602800,\"fcst_valid_local\":\"2020-04-11T14:00:00+0300\",\"num\":3,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":3000,\"wxman\":\"wx1100\",\"icon_code\":30,\"dow\":\"Saturday\",\"phrase_12char\":\"P Cloudy\",\"phrase_22char\":\"Partly Cloudy\",\"phrase_32char\":\"Partly Cloudy\",\"subphrase_pt1\":\"Partly\",\"subphrase_pt2\":\"Cloudy\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":32,\"wspd\":10,\"wdir\":317,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":58,\"vis\":16,\"mslp\":1011.2,\"uv_index_raw\":3.94,\"uv_index\":4,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":8,\"golf_category\":\"Very Good\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586606400,\"fcst_valid_local\":\"2020-04-11T15:00:00+0300\",\"num\":4,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":0,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":4600,\"wxman\":\"wx2000\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Few Showers\",\"phrase_22char\":\"Few Showers\",\"phrase_32char\":\"Few Showers\",\"subphrase_pt1\":\"Few\",\"subphrase_pt2\":\"Showers\",\"subphrase_pt3\":\"\",\"pop\":32,\"precip_type\":\"rain\",\"qpf\":0.02,\"snow_qpf\":0,\"rh\":32,\"wspd\":9,\"wdir\":300,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":61,\"vis\":16,\"mslp\":1011.12,\"uv_index_raw\":2.63,\"uv_index\":3,\"uv_warning\":0,\"uv_desc\":\"Moderate\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586610000,\"fcst_valid_local\":\"2020-04-11T16:00:00+0300\",\"num\":5,\"day_ind\":\"D\",\"temp\":17,\"dewpt\":1,\"hi\":17,\"wc\":17,\"feels_like\":17,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":48,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":35,\"wspd\":10,\"wdir\":314,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":81,\"vis\":14,\"mslp\":1011.4,\"uv_index_raw\":0.96,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586613600,\"fcst_valid_local\":\"2020-04-11T17:00:00+0300\",\"num\":6,\"day_ind\":\"D\",\"temp\":16,\"dewpt\":2,\"hi\":16,\"wc\":16,\"feels_like\":16,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":46,\"precip_type\":\"rain\",\"qpf\":0.1,\"snow_qpf\":0,\"rh\":38,\"wspd\":10,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":76,\"vis\":16,\"mslp\":1012.2,\"uv_index_raw\":0.34,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_short_range_hourly\",\"expire_time_gmt\":1586595493,\"fcst_valid\":1586617200,\"fcst_valid_local\":\"2020-04-11T18:00:00+0300\",\"num\":7,\"day_ind\":\"D\",\"temp\":14,\"dewpt\":1,\"hi\":14,\"wc\":13,\"feels_like\":13,\"icon_extd\":1100,\"wxman\":\"wx2500\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":40,\"precip_type\":\"rain\",\"qpf\":0.75,\"snow_qpf\":0,\"rh\":41,\"wspd\":17,\"wdir\":326,\"wdir_cardinal\":\"NW\",\"gust\":28,\"clds\":81,\"vis\":7,\"mslp\":1013.13,\"uv_index_raw\":0.06,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586620800,\"fcst_valid_local\":\"2020-04-11T19:00:00+0300\",\"num\":8,\"day_ind\":\"N\",\"temp\":13,\"dewpt\":2,\"hi\":13,\"wc\":11,\"feels_like\":11,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Saturday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":20,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":48,\"wspd\":17,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":84,\"vis\":16,\"mslp\":1014.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586624400,\"fcst_valid_local\":\"2020-04-11T20:00:00+0300\",\"num\":9,\"day_ind\":\"N\",\"temp\":12,\"dewpt\":3,\"hi\":12,\"wc\":10,\"feels_like\":10,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":35,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":58,\"wspd\":16,\"wdir\":315,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":88,\"vis\":16,\"mslp\":1015.4,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586628000,\"fcst_valid_local\":\"2020-04-11T21:00:00+0300\",\"num\":10,\"day_ind\":\"N\",\"temp\":10,\"dewpt\":4,\"hi\":10,\"wc\":8,\"feels_like\":8,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":66,\"wspd\":18,\"wdir\":322,\"wdir_cardinal\":\"NW\",\"gust\":31,\"clds\":88,\"vis\":16,\"mslp\":1016.22,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586631600,\"fcst_valid_local\":\"2020-04-11T22:00:00+0300\",\"num\":11,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":7,\"feels_like\":7,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":68,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":92,\"vis\":16,\"mslp\":1016.8,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586635200,\"fcst_valid_local\":\"2020-04-11T23:00:00+0300\",\"num\":12,\"day_ind\":\"N\",\"temp\":9,\"dewpt\":4,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Saturday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":43,\"precip_type\":\"rain\",\"qpf\":0.22,\"snow_qpf\":0,\"rh\":73,\"wspd\":18,\"wdir\":318,\"wdir_cardinal\":\"NW\",\"gust\":33,\"clds\":93,\"vis\":16,\"mslp\":1017.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586638800,\"fcst_valid_local\":\"2020-04-12T00:00:00+0300\",\"num\":13,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":4,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":45,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":16,\"wdir\":311,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":94,\"vis\":16,\"mslp\":1017.9,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586642400,\"fcst_valid_local\":\"2020-04-12T01:00:00+0300\",\"num\":14,\"day_ind\":\"N\",\"temp\":8,\"dewpt\":3,\"hi\":8,\"wc\":5,\"feels_like\":5,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":42,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":75,\"wspd\":14,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":96,\"vis\":16,\"mslp\":1018.3,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586646000,\"fcst_valid_local\":\"2020-04-12T02:00:00+0300\",\"num\":15,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":6,\"feels_like\":6,\"icon_extd\":1100,\"wxman\":\"wx2550\",\"icon_code\":11,\"dow\":\"Sunday\",\"phrase_12char\":\"Showers\",\"phrase_22char\":\"Showers\",\"phrase_32char\":\"Showers\",\"subphrase_pt1\":\"Showers\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":41,\"precip_type\":\"rain\",\"qpf\":0.2,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":304,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":95,\"vis\":16,\"mslp\":1018.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586649600,\"fcst_valid_local\":\"2020-04-12T03:00:00+0300\",\"num\":16,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":3,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":10,\"wdir\":296,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586653200,\"fcst_valid_local\":\"2020-04-12T04:00:00+0300\",\"num\":17,\"day_ind\":\"N\",\"temp\":7,\"dewpt\":2,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":23,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":8,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1019.2,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586656800,\"fcst_valid_local\":\"2020-04-12T05:00:00+0300\",\"num\":18,\"day_ind\":\"N\",\"temp\":6,\"dewpt\":2,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":24,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":74,\"wspd\":9,\"wdir\":281,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1019.6,\"uv_index_raw\":0,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":null,\"golf_category\":\"\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586660400,\"fcst_valid_local\":\"2020-04-12T06:00:00+0300\",\"num\":19,\"day_ind\":\"D\",\"temp\":6,\"dewpt\":1,\"hi\":6,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":72,\"wspd\":10,\"wdir\":278,\"wdir_cardinal\":\"W\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1019.9,\"uv_index_raw\":0.03,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":4,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586664000,\"fcst_valid_local\":\"2020-04-12T07:00:00+0300\",\"num\":20,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":1,\"hi\":7,\"wc\":4,\"feels_like\":4,\"icon_extd\":2600,\"wxman\":\"wx1210\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":22,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":68,\"wspd\":12,\"wdir\":286,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":92,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":0.18,\"uv_index\":0,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586667600,\"fcst_valid_local\":\"2020-04-12T08:00:00+0300\",\"num\":21,\"day_ind\":\"D\",\"temp\":7,\"dewpt\":0,\"hi\":7,\"wc\":5,\"feels_like\":5,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":19,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":61,\"wspd\":13,\"wdir\":297,\"wdir_cardinal\":\"WNW\",\"gust\":null,\"clds\":93,\"vis\":16,\"mslp\":1020.4,\"uv_index_raw\":0.56,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586671200,\"fcst_valid_local\":\"2020-04-12T09:00:00+0300\",\"num\":22,\"day_ind\":\"D\",\"temp\":8,\"dewpt\":-1,\"hi\":8,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":11,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":54,\"wspd\":13,\"wdir\":308,\"wdir_cardinal\":\"NW\",\"gust\":null,\"clds\":94,\"vis\":16,\"mslp\":1020.5,\"uv_index_raw\":1.14,\"uv_index\":1,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586674800,\"fcst_valid_local\":\"2020-04-12T10:00:00+0300\",\"num\":23,\"day_ind\":\"D\",\"temp\":9,\"dewpt\":-2,\"hi\":9,\"wc\":6,\"feels_like\":6,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":10,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":47,\"wspd\":16,\"wdir\":312,\"wdir_cardinal\":\"NW\",\"gust\":29,\"clds\":93,\"vis\":16,\"mslp\":1020.3,\"uv_index_raw\":1.78,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":5,\"golf_category\":\"Fair\",\"severity\":1},{\"class\":\"fod_long_range_hourly\",\"expire_time_gmt\":1586595883,\"fcst_valid\":1586678400,\"fcst_valid_local\":\"2020-04-12T11:00:00+0300\",\"num\":24,\"day_ind\":\"D\",\"temp\":10,\"dewpt\":-3,\"hi\":10,\"wc\":7,\"feels_like\":7,\"icon_extd\":2600,\"wxman\":\"wx1250\",\"icon_code\":26,\"dow\":\"Sunday\",\"phrase_12char\":\"Cloudy\",\"phrase_22char\":\"Cloudy\",\"phrase_32char\":\"Cloudy\",\"subphrase_pt1\":\"Cloudy\",\"subphrase_pt2\":\"\",\"subphrase_pt3\":\"\",\"pop\":9,\"precip_type\":\"rain\",\"qpf\":0,\"snow_qpf\":0,\"rh\":41,\"wspd\":18,\"wdir\":313,\"wdir_cardinal\":\"NW\",\"gust\":34,\"clds\":93,\"vis\":16,\"mslp\":1020.07,\"uv_index_raw\":2.3,\"uv_index\":2,\"uv_warning\":0,\"uv_desc\":\"Low\",\"golf_index\":6,\"golf_category\":\"Good\",\"severity\":1}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":620,"y":640,"wires":[["98878fcc.09d39"]]},{"id":"52872acd.e6e6f4","type":"ui_chart","z":"6f1a45a.a42e5bc","name":"","group":"3487cf39.3f61e","order":4,"width":0,"height":0,"label":"24 hour chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":960,"y":640,"wires":[[]]},{"id":"fe4182c0.d77fd","type":"function","z":"a30b5bd9.8c76d8","name":"Setup","func":"myurl= \"https://api.weather.com/v1/geocode/\"+global.get(\"lat\")+\"/\"+global.get(\"lon\")+\"/forecast/hourly/24hour.json?units=\"+global.get(\"unit\")+\"&language=en-US&apiKey=6532d6454b8aa370768e63d6ba5a832e\"//+global.get(\"twcapikey\")\nmsg.url=myurl\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["84958974.016858"]]},{"id":"1f716027.ed7ef","type":"function","z":"a30b5bd9.8c76d8","name":"Check","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\n\nmsg.payload.unit=global.get(\"unit\")\nif(msg.payload.unit === undefined)\n{\nmsg.payload.unit=\"m\"\nglobal.set(\"unit\",msg.payload.unit)\n}\nif(global.get(\"labid\") == \"NoLabID\")\nnode.warn(\"no LABID set please adjust \")\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["fe4182c0.d77fd"]]},{"id":"969d38ef.c4b7e8","type":"ui_button","z":"6349380f.ef9898","name":"","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"passthru":false,"label":"Get Weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":220,"wires":[["57075228.eae7fc"]]},{"id":"e28cd2bd.074b1","type":"ui_dropdown","z":"6f1a45a.a42e5bc","name":"","label":"Units F/C","tooltip":"","place":"Select option","group":"da7241ca.ee1d5","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"F","value":"e","type":"str"},{"label":"C","value":"m","type":"str"}],"payload":"","topic":"","x":700,"y":760,"wires":[["8654c802.96f498"]]},{"id":"65d6fdb9.31a2f4","type":"debug","z":"6f1a45a.a42e5bc","name":"Units","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":760,"wires":[]},{"id":"8654c802.96f498","type":"function","z":"6f1a45a.a42e5bc","name":"SetUnit","func":"global.set(\"unit\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":760,"wires":[["65d6fdb9.31a2f4"]]},{"id":"2f3f539a.4af02c","type":"link in","z":"6f1a45a.a42e5bc","name":"Util24H","links":["130c5f75.bc1441"],"x":560,"y":580,"wires":[["6aca0163.86a53"]]},{"id":"130c5f75.bc1441","type":"link out","z":"a30b5bd9.8c76d8","name":"toDashboard","links":["2f3f539a.4af02c"],"x":615,"y":540,"wires":[]},{"id":"658fe2b4.14509c","type":"comment","z":"6f1a45a.a42e5bc","name":"24ForecastfromTWC","info":"","x":630,"y":540,"wires":[]},{"id":"f9f2bd1e.e8844","type":"http request","z":"a30b5bd9.8c76d8","name":"Current Weather WU","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":740,"wires":[["d7e06697.630e08","f2cb939b.d14ac"]]},{"id":"d7e06697.630e08","type":"debug","z":"a30b5bd9.8c76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":740,"wires":[]},{"id":"e8c9e18d.cd909","type":"function","z":"a30b5bd9.8c76d8","name":"setup url.api call","func":"//\"https://api.weather.com/v2/pws/history/hourly?stationId=ITORONTO308&format=json&units=m&date={}&apiKey=\"\n    \nmsg.url= \"https://api.weather.com/v2/pws/observations/current?stationId=ITORONTO308&format=json&units=m&apiKey=\"+flow.get(\"twcapikey\")\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":740,"wires":[["f9f2bd1e.e8844"]]},{"id":"f2cb939b.d14ac","type":"function","z":"a30b5bd9.8c76d8","name":"Mapping","func":"msg.payloadold=msg.payload.observations[0]\nmsg.payload={}\nmsg.payload.temperature=msg.payloadold.metric.temp\nmsg.payload.observation=\"\"\nmsg.payload.humidity   =msg.payloadold.humidity\nmsg.payload.pressure   =msg.payloadold.metric.pressure\nmsg.payload.uvindex    =msg.payloadold.uvI\nmsg.payload.precip     =msg.payloadold.precipTotal\nmsg.payload.ts         =Date.now()\nmsg.payload.messtime   =msg.payloadold.obsTimeLocal\nmsg.payload.stationID=msg.payloadold.stationID\nmsg.payload.lat=msg.payloadold.lat\nmsg.payload.lon=msg.payloadold.lon\nreturn msg;\n/*\n{\n    \"cloudCeiling\": 5000,\n    \"cloudCoverPhrase\": \"Mostly Cloudy\",\n    \"dayOfWeek\": \"Friday\",\n    \"dayOrNight\": \"D\",\n    \"expirationTimeUtc\": 1586545455,\n    \"iconCode\": 28,\n    \"iconCodeExtend\": 2890,\n    \"obsQualifierCode\": null,\n    \"obsQualifierSeverity\": null,\n    \"precip1Hour\": 0,\n    \"precip6Hour\": 0,\n    \"precip24Hour\": 0,\n    \"pressureAltimeter\": 1005.08,\n    \"pressureChange\": 2.03,\n    \"pressureMeanSeaLevel\": 1005.2,\n    \"pressureTendencyCode\": 1,\n    \"pressureTendencyTrend\": \"Rising\",\n    \"relativeHumidity\": 42,\n    \"snow1Hour\": 0,\n    \"snow6Hour\": 0,\n    \"snow24Hour\": 0,\n    \"sunriseTimeLocal\": \"2020-04-10T06:43:19-0400\",\n    \"sunriseTimeUtc\": 1586515399,\n    \"sunsetTimeLocal\": \"2020-04-10T19:56:57-0400\",\n    \"sunsetTimeUtc\": 1586563017,\n    \"temperature\": 7,\n    \"temperatureChange24Hour\": -2,\n    \"temperatureDewPoint\": -5,\n    \"temperatureFeelsLike\": 2,\n    \"temperatureHeatIndex\": 7,\n    \"temperatureMax24Hour\": 8,\n    \"temperatureMaxSince7Am\": 7,\n    \"temperatureMin24Hour\": 1,\n    \"temperatureWindChill\": 2,\n    \"uvDescription\": \"Moderate\",\n    \"uvIndex\": 4,\n    \"validTimeLocal\": \"2020-04-10T14:54:15-0400\",\n    \"validTimeUtc\": 1586544855,\n    \"visibility\": 16.09,\n    \"windDirection\": 300,\n    \"windDirectionCardinal\": \"WNW\",\n    \"windGust\": 56,\n    \"windSpeed\": 37,\n    \"wxPhraseLong\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseMedium\": \"Mostly Cloudy/Wind\",\n    \"wxPhraseShort\": \"M Cldy/Wind\"\n}\n*/","outputs":1,"noerr":0,"x":760,"y":800,"wires":[["c20521b0.4cb81"]]},{"id":"c20521b0.4cb81","type":"debug","z":"a30b5bd9.8c76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":800,"wires":[]},{"id":"4c3904fa.a323fc","type":"inject","z":"a30b5bd9.8c76d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["e8c9e18d.cd909"]]},{"id":"771da3f2.cc65bc","type":"comment","z":"a30b5bd9.8c76d8","name":"Weather Underground Example","info":"","x":150,"y":680,"wires":[]},{"id":"d82dac08.4efa8","type":"comment","z":"6f1a45a.a42e5bc","name":"to View is use https://thinklab??.mybluemix.net/ui/","info":"","x":250,"y":280,"wires":[]},{"id":"8f838dc2.f0cfc","type":"ui_template","z":"a30b5bd9.8c76d8","group":"1397591e.d468e7","name":"Your IP Geo Location","order":0,"width":"14","height":"10","format":"<iframe src=\"/latlon\"  width=\"100%\" height=\"300\"></iframe>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":180,"wires":[[]]},{"id":"6094b3de.03b83c","type":"function","z":"6f1a45a.a42e5bc","name":"Icons","func":"\n//https://github.com/Paul-Reed/weather-icons-lite/blob/master/css_mappings.md\n//msg.payload=\"wi-alien\"\nicon=\"wi-wu-nt_tstorms wi-rotate-180\"\n///observation are \n//Fair / Cloudy /Sunny /Partly Cloudy\nif(msg.payload.observation ==\"Fair\" )\nicon=\"wi-wu-nt_hazy\"\n\nif(msg.payload.observation ==\"Partly Cloudy\")\nicon=\"wi-wu-partlycloudy\"\n\nif(msg.payload.observation ==\"Cloudy\")\nicon=\"wi-wu-cloudy\"\n\nif(msg.payload.observation ==\"Sunny\")\nicon=\"wi-wu-clear-day\"\n\nicon=\"wi-wu-nt_tstorms wi-rotate-180\"\n\n\nmsg.payload=icon\n//msg.payload=\"wi-wu-nt_tstorms wi-rotate-180\"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":400,"wires":[["f695d616.550b78","2779df63.ca694"]]},{"id":"f695d616.550b78","type":"ui_template","z":"6f1a45a.a42e5bc","group":"13021934.20b057","name":"weather icon","order":1,"width":"2","height":"2","format":"<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"wi {{msg.payload}} wi-4x\"></i>\n</div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":310,"y":400,"wires":[[]]},{"id":"2779df63.ca694","type":"debug","z":"6f1a45a.a42e5bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":440,"wires":[]},{"id":"28ecf39e.f85eac","type":"ui_template","z":"a30b5bd9.8c76d8","group":"bcc7c32f.f0981","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":760,"y":60,"wires":[[]]},{"id":"f92d6a02.5db608","type":"ui_button","z":"6349380f.ef9898","name":"All PWS TAB","group":"c3ca51fe.2d4e6","order":5,"width":0,"height":0,"passthru":false,"label":"Show My PWS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":260,"wires":[["57075228.eae7fc"]]},{"id":"82e6a3b3.45293","type":"inject","z":"1d24d277.363b9e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":160,"wires":[[]]},{"id":"475e063b.ba3b38","type":"debug","z":"1d24d277.363b9e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":160,"wires":[]},{"id":"b4c295ba.37b1e8","type":"comment","z":"1d24d277.363b9e","name":"What Can I DO / How does this work ?","info":"Add a function and change the payload...\nwe will demo it","x":330,"y":40,"wires":[]},{"id":"b995a049.1a87","type":"ui_text","z":"6f1a45a.a42e5bc","group":"da7241ca.ee1d5","order":5,"width":0,"height":0,"name":"","label":"Pressure ","format":"{{msg.payload.pressure}}","layout":"row-spread","x":940,"y":80,"wires":[]},{"id":"627edc70.3eb7a4","type":"inject","z":"a30b5bd9.8c76d8","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":620,"wires":[["e744b1ce.a7f2d"]]},{"id":"120558ce.232c87","type":"debug","z":"a30b5bd9.8c76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":620,"wires":[]},{"id":"e744b1ce.a7f2d","type":"function","z":"a30b5bd9.8c76d8","name":"C -> F","func":"val = msg.payload \nf = (val*1.8) + 32;\n\nmsg.payload = parseFloat(f).toFixed(1) + \" F\"\nreturn msg\n","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["120558ce.232c87"]]},{"id":"90371b1f.358468","type":"comment","z":"a30b5bd9.8c76d8","name":"","info":"","x":100,"y":580,"wires":[]},{"id":"779da2bc.5afdbc","type":"comment","z":"6f1a45a.a42e5bc","name":"Excerise: Find your Own Citty/Traffic Cam","info":"https://www.toronto.ca/services-payments/streets-parking-transportation/road-restrictions-closures/rescu-traffic-cameras/","x":980,"y":480,"wires":[]},{"id":"daa2bcdf.9f0ed","type":"inject","z":"676ef9b9.6a1538","name":"Init TWC API Key","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"2","x":170,"y":300,"wires":[["8b1c0c8e.79354"]]},{"id":"983294b7.c7b938","type":"debug","z":"676ef9b9.6a1538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":300,"wires":[]},{"id":"de5f3739.c01d38","type":"change","z":"676ef9b9.6a1538","name":"Set Location","rules":[{"t":"set","p":"lat","pt":"global","to":"28","tot":"str"},{"t":"set","p":"lon","pt":"global","to":"-43","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["f0ae0f6b.2523c","db66f8d8.7b7658"]]},{"id":"6ad44e5a.08c95","type":"inject","z":"676ef9b9.6a1538","name":"Set Default Location (Lat/Lon)","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":210,"y":380,"wires":[["de5f3739.c01d38"]]},{"id":"437fd5f0.a66dcc","type":"change","z":"676ef9b9.6a1538","name":"SET LAB ID","rules":[{"t":"set","p":"labid","pt":"global","to":"NoLabID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":180,"wires":[["9555c176.e6d56"]]},{"id":"bdb11128.778ba","type":"inject","z":"676ef9b9.6a1538","name":"LABID","topic":"","payload":"true","payloadType":"bool","repeat":"30","crontab":"","once":true,"onceDelay":"1","x":140,"y":180,"wires":[["437fd5f0.a66dcc"]]},{"id":"93dad2da.94f7d","type":"debug","z":"676ef9b9.6a1538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":220,"wires":[]},{"id":"9555c176.e6d56","type":"function","z":"676ef9b9.6a1538","name":"REQUIRED !!!! Labid","func":"msg.payload=global.get(\"labid\")\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["93dad2da.94f7d"]]},{"id":"a7233beb.cfc588","type":"comment","z":"676ef9b9.6a1538","name":" Get a Weather API key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/\n4. 5424e9662cbf4bc3a4e9662cbf4bc3fe","x":180,"y":220,"wires":[]},{"id":"608dd27.0739f2c","type":"comment","z":"676ef9b9.6a1538","name":"Exercise/ Setup - Set LABID","info":"1. Get Your ID  via https://thinklab1239.mybluemix.net/claimid\n2. Set Your Location you can find it here\n3. https://www.latlong.net/\n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":140,"wires":[]},{"id":"2c70782.7390988","type":"comment","z":"676ef9b9.6a1538","name":"Optional  - Set TWC API Key","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":260,"wires":[]},{"id":"47e3c287.1050bc","type":"comment","z":"676ef9b9.6a1538","name":"3rd Step - Set Your Lat/Lon location","info":"1. Get Your ID  via thinklab1239.mybluemix.net/claimids\n2. Set Your Location \n3. Get a Weather API key https://callforcode.weather.com/register/","x":200,"y":340,"wires":[]},{"id":"f0ae0f6b.2523c","type":"debug","z":"676ef9b9.6a1538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":380,"wires":[]},{"id":"db66f8d8.7b7658","type":"function","z":"676ef9b9.6a1538","name":"REQUIRED !!!! latlon","func":"msg.payload={}\nmsg.payload.lat=global.get(\"lat\")\nmsg.payload.lon=global.get(\"lon\")\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["f0ae0f6b.2523c"]]},{"id":"8beda340.be94a","type":"inject","z":"676ef9b9.6a1538","name":"Set Unit","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"5","x":140,"y":480,"wires":[["4d0b42e8.08dd3c"]]},{"id":"b7d4d7cf.077388","type":"debug","z":"676ef9b9.6a1538","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":480,"wires":[]},{"id":"619c3abb.e903c4","type":"comment","z":"676ef9b9.6a1538","name":"^^^^^^^^^^^ 2 digits like 04,07 or 10 ","info":"","x":490,"y":220,"wires":[]},{"id":"79a3e760.5d1e38","type":"comment","z":"676ef9b9.6a1538","name":"^^^^^^^^^^^ avoid spaces","info":"use this url location ","x":480,"y":420,"wires":[]},{"id":"8b1c0c8e.79354","type":"function","z":"676ef9b9.6a1538","name":"New key Set TWC API Key here","func":"global.set(\"twcapikey\",\"5424e9662cbf4bc3a4e9662cbf4bc3fe\")\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["983294b7.c7b938"]]},{"id":"4d0b42e8.08dd3c","type":"function","z":"676ef9b9.6a1538","name":"Default Unit Metric","func":"global.set(\"unit\",\"m\")\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["b7d4d7cf.077388"]]},{"id":"146b85a5.e4e61a","type":"comment","z":"6349380f.ef9898","name":"Exercise","info":"todo....\nSet the API call to an interval of 30 Sec \n\nenable the debug node at the bottom of the flow and make sure the weather information which you send into usign your device is coming back.\n\nNote: Make sure the debug window does not show error message like \"Please set your LAB ID\"","x":120,"y":80,"wires":[]},{"id":"b13aeafa.a39328","type":"comment","z":"676ef9b9.6a1538","name":"get your LABid form http://thinklab1239.mybluemix.net/claimid","info":"","x":890,"y":80,"wires":[]},{"id":"97527302.1934d","type":"comment","z":"676ef9b9.6a1538","name":"VERSION:20200504","info":"","x":750,"y":40,"wires":[]},{"id":"b10b276.59161d8","type":"comment","z":"6349380f.ef9898","name":"What is this / What can I do?","info":"Here we call the weather api and get the current weather for our location.\n\nSee the http Node for details \n\nWe send the weather information to our IoT device with the deviceID pws+LABID like pws42\n\nt","x":180,"y":40,"wires":[]},{"id":"f0eb80ca.d686b","type":"comment","z":"6f1a45a.a42e5bc","name":"Exercise","info":"\n1. Add some data to our dashboard like pressure. \n\n2.\tExercise  Change you marker Icon to an emoji\nhttps://github.com/dceejay/RedMap/blob/master/emojilist.md\n\n3.\tExercise  Change the Traffic cam Image \nChange the feed form the traffic cam to like NYC \n\nNYC traffic cams can be found here. https://511ny.org/map#Camera\n\n4. Addjust the weather icons with the matching connidions\n\n5. Add more informaton like the SunRise and winddirection  to yout mapping on the sensor tab\n6. Connect the 24 hour forcast on the Util Page \n","x":580,"y":120,"wires":[]},{"id":"392b83d2.5c529c","type":"comment","z":"6f1a45a.a42e5bc","name":"What is this / What can I do?","info":"This is the Dashboard or you PWS. Its displaying the sensor/device information like temperature and some text like conditions. \n\n\nthe dashboard is available via the url liek\n\nhttps://thinklab<YOURLABID>.mybluemix.net/ui/","x":640,"y":80,"wires":[]},{"id":"ce128df4.ab563","type":"comment","z":"a30b5bd9.8c76d8","name":"What is this / What can I do?","info":"This page has some utilility functions like a page to read the browser lat/lon\n\nhttps://thinklabLABID.mybluemix.net/latlon\n\n2. url request to get iss space station\n3. Weather api call for a 24 Forecast\n4. example to calulate C to F\n5. a utlity to show the clock in the masthead","x":440,"y":60,"wires":[]},{"id":"12b782d.03f427d","type":"comment","z":"1d24d277.363b9e","name":"Intro https://nodered.org/","info":"https://nodered.org/","x":650,"y":40,"wires":[]},{"id":"cf4128f2.b4b2b8","type":"websocket in","z":"167e1d24.c17e33","name":"","server":"13174872.1f13c8","client":"","x":600,"y":180,"wires":[["6b14cb52.ee5dc4","bfb2b755.3f3b38"]]},{"id":"be82516.55c7cb","type":"websocket out","z":"167e1d24.c17e33","name":"","server":"13174872.1f13c8","client":"","x":580,"y":80,"wires":[]},{"id":"7c796972.239418","type":"function","z":"167e1d24.c17e33","name":"{\"cmd\":\"Hello\"}","func":"msg.payload={\"cmd\":\"hello\"}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["be82516.55c7cb"]]},{"id":"cb442779.df5d68","type":"inject","z":"167e1d24.c17e33","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":"","x":110,"y":80,"wires":[["7c796972.239418"]]},{"id":"9dc16e56.5b367","type":"function","z":"167e1d24.c17e33","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["be82516.55c7cb"]]},{"id":"38c5f6dd.48632a","type":"inject","z":"167e1d24.c17e33","name":"","topic":"","payload":"getInfo","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":240,"wires":[["9dc16e56.5b367"]]},{"id":"ddb3daf1.906e08","type":"function","z":"167e1d24.c17e33","name":"{\"cmd\":","func":"cmd=msg.payload\nmsg.payload={}\nmsg.payload.cmd=cmd\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["be82516.55c7cb"]]},{"id":"1f8bc9f6.dba2d6","type":"inject","z":"167e1d24.c17e33","name":"","topic":"","payload":"getJan2017","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":360,"wires":[["ddb3daf1.906e08"]]},{"id":"6b14cb52.ee5dc4","type":"json","z":"167e1d24.c17e33","name":"","property":"payload","action":"","pretty":false,"x":640,"y":240,"wires":[["eb05f33f.4a91a","1deac11d.a0d50f","36dd9751.fd59c8","a720f85c.f81888"]]},{"id":"eb05f33f.4a91a","type":"debug","z":"167e1d24.c17e33","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":240,"wires":[]},{"id":"3e30a37d.05859c","type":"function","z":"167e1d24.c17e33","name":"Get Jan","func":"//msg.payload={\"Rainy\":{\"0\":\"Wet\",\"1\":\"Dry\"},\"Days\":{\"0\":20,\"1\":10},\"month_name\":{\"0\":\"Jan\",\"1\":\"Jan\"},\"cmd\":\"getInfo\"}\n//incoming\n//mymsg.payload={\"Wet\":9,\"Dry\":22,\"Month\":\"Jan\",\"Year\":2017,\"cmd\":\"getJan2017\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nreturn mymsg","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["32608bcf.7901a4","2ab1f04e.990bc"]]},{"id":"32608bcf.7901a4","type":"ui_chart","z":"167e1d24.c17e33","name":"","group":"44f18fda.2ce4a","order":1,"width":0,"height":0,"label":"Month Rain History","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1190,"y":440,"wires":[[]]},{"id":"2ab1f04e.990bc","type":"debug","z":"167e1d24.c17e33","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":480,"wires":[]},{"id":"22ec9e75.58e682","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":3,"width":0,"height":0,"passthru":false,"label":"Get Jan 2017 Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan2017","payloadType":"str","topic":"","x":130,"y":400,"wires":[["ddb3daf1.906e08"]]},{"id":"b1594972.56ed88","type":"function","z":"167e1d24.c17e33","name":"Clear","func":"mymsg={}\nmymsg.payload=[]\nreturn mymsg","outputs":1,"noerr":0,"x":930,"y":520,"wires":[["32608bcf.7901a4"]]},{"id":"1deac11d.a0d50f","type":"switch","z":"167e1d24.c17e33","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getTemp","vt":"str"},{"t":"eq","v":"getInfo","vt":"str"},{"t":"eq","v":"getMonth","vt":"str"},{"t":"eq","v":"getJan2017","vt":"str"},{"t":"eq","v":"getRain","vt":"str"},{"t":"eq","v":"getRange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":650,"y":340,"wires":[["f876f311.51f37","c6bac9cb.f4d838","96f5a350.dc181"],["e74f8436.bfcb78"],["e1f6b69a.a8da98"],["3e30a37d.05859c"],["4ba325cd.1a827c"],["661c7084.9054b"],[]]},{"id":"e1f6b69a.a8da98","type":"function","z":"167e1d24.c17e33","name":"getMonth","func":"//msg.payload={\"month\":\"Feb\",\"cmd\":\"getInfo\",\"dry\":9,\"wet\":19}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n//node.warn(mymsg.payload[0].data[1])\nif( msg.payload.wet === undefined)\nmsg.payload.dry\nif( msg.payload.dry === undefined)\nmsg.payload.dry\nmymsg.payload[0].data[0][0]=msg.payload.dry\nmymsg.payload[0].data[1][0]=msg.payload.wet\nmymsg.payload[0].labels[0]=msg.payload.month+\"-\"+msg.payload.year\nreturn mymsg","outputs":1,"noerr":0,"x":940,"y":440,"wires":[["32608bcf.7901a4"]]},{"id":"e74f8436.bfcb78","type":"ui_gauge","z":"167e1d24.c17e33","name":"","group":"f8191090.6edb2","order":1,"width":0,"height":0,"gtype":"gage","title":"# of Records","label":"units","format":"{{msg.payload.tablesize}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":400,"wires":[]},{"id":"1b98163b.26b7ca","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":1,"width":0,"height":0,"passthru":false,"label":"Get  Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getInfo\",\"month\":\"Apr\"}","payloadType":"json","topic":"","x":280,"y":280,"wires":[["be82516.55c7cb"]]},{"id":"abc21cae.801f7","type":"inject","z":"167e1d24.c17e33","name":"getTemp","topic":"getTemp","payload":"{\"cmd\":\"getTemp\",\"month\":\"Mar\",\"year\":\"2018\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":280,"y":160,"wires":[["be82516.55c7cb"]]},{"id":"db11e2d6.bc4ea","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":2,"width":0,"height":0,"passthru":false,"label":"Get Temp Mar2018","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getTemp\",\"month\":\"Mar\",\"year\":\"2018\"}","payloadType":"json","topic":"","x":250,"y":200,"wires":[["be82516.55c7cb"]]},{"id":"f876f311.51f37","type":"debug","z":"167e1d24.c17e33","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":280,"wires":[]},{"id":"c6bac9cb.f4d838","type":"ui_gauge","z":"167e1d24.c17e33","name":"","group":"f8191090.6edb2","order":2,"width":0,"height":0,"gtype":"gage","title":"Monthy Temp Avg","label":"units","format":"{{msg.payload.Temp}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":320,"wires":[]},{"id":"96f5a350.dc181","type":"ui_gauge","z":"167e1d24.c17e33","name":"","group":"f8191090.6edb2","order":3,"width":0,"height":0,"gtype":"gage","title":"RH %  Avg","label":"units","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":360,"wires":[]},{"id":"bd579fda.7462e","type":"ui_dropdown","z":"167e1d24.c17e33","name":"","label":"Choose Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"Jan","value":"Jan","type":"str"},{"label":"Feb","value":"Feb","type":"str"},{"label":"Mar","value":"Mar","type":"str"},{"label":"Apr","value":"Apr","type":"str"},{"label":"May","value":"May","type":"str"}],"payload":"","topic":"","x":120,"y":680,"wires":[["33a372ce.06b80e"]]},{"id":"23105c12.41da64","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"44f18fda.2ce4a","order":3,"width":0,"height":0,"passthru":false,"label":"Clear History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getJan","payloadType":"str","topic":"","x":730,"y":520,"wires":[["b1594972.56ed88","661c7084.9054b"]]},{"id":"36dd9751.fd59c8","type":"ui_text","z":"167e1d24.c17e33","group":"44f18fda.2ce4a","order":4,"width":"6","height":"2","name":"","label":"Incoming","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":200,"wires":[]},{"id":"bfb2b755.3f3b38","type":"debug","z":"167e1d24.c17e33","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":140,"wires":[]},{"id":"a720f85c.f81888","type":"function","z":"167e1d24.c17e33","name":"","func":"msg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":160,"wires":[["276d2c80.d770f4"]]},{"id":"276d2c80.d770f4","type":"ui_text","z":"167e1d24.c17e33","group":"f4dbbd7a.c32cf","order":5,"width":"6","height":"2","name":"","label":"LastMessage","format":"{{msg.payload.ts}}","layout":"row-spread","x":1200,"y":160,"wires":[]},{"id":"24a1814a.b388fe","type":"function","z":"167e1d24.c17e33","name":"{\"cmd\": getRain","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":\"Feb\",\"year\":\"2018\"}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["d41d3112.8f7f1"]]},{"id":"798d50f5.0a6b","type":"inject","z":"167e1d24.c17e33","name":"","topic":"","payload":"getRain2018","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":480,"wires":[["24a1814a.b388fe"]]},{"id":"d41d3112.8f7f1","type":"function","z":"167e1d24.c17e33","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["be82516.55c7cb"]]},{"id":"4ba325cd.1a827c","type":"function","z":"167e1d24.c17e33","name":"getMonthRain","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":960,"y":560,"wires":[["32608bcf.7901a4"]]},{"id":"4ad867ab.81a108","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":4,"width":0,"height":0,"passthru":false,"label":"Get Feb 2018 Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getMonth\",\"month\":\"Feb\"}","payloadType":"json","topic":"","x":110,"y":520,"wires":[["24a1814a.b388fe"]]},{"id":"1fe6123e.1abbce","type":"ui_dropdown","z":"167e1d24.c17e33","name":"","label":"Choose Year","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"2010","value":"2010","type":"str"},{"label":"2012","value":"2012","type":"str"},{"label":"2017","value":"2017","type":"str"}],"payload":"","topic":"","x":110,"y":720,"wires":[["3e98d226.7cb11e"]]},{"id":"33a372ce.06b80e","type":"function","z":"167e1d24.c17e33","name":"set month","func":"flow.set(\"month\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":680,"wires":[[]]},{"id":"3e98d226.7cb11e","type":"function","z":"167e1d24.c17e33","name":"set flow","func":"flow.set(\"year\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":720,"wires":[[]]},{"id":"d0602bba.e6bb58","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":8,"width":0,"height":0,"passthru":false,"label":"Get Rain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"getMonth\",\"month\":\"Feb\"}","payloadType":"json","topic":"","x":100,"y":780,"wires":[["e4349a30.f76d78"]]},{"id":"e4349a30.f76d78","type":"function","z":"167e1d24.c17e33","name":"{\"cmd\": getTemp/hr for Month","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":flow.get(\"month\"),\"year\":flow.get(\"year\")}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["d41d3112.8f7f1","991e67ad.dcad38"]]},{"id":"991e67ad.dcad38","type":"debug","z":"167e1d24.c17e33","name":"getRain","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":820,"wires":[]},{"id":"2eecb0a8.5dfa6","type":"inject","z":"167e1d24.c17e33","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":820,"wires":[["e4349a30.f76d78"]]},{"id":"ee8572b3.01772","type":"inject","z":"167e1d24.c17e33","name":"Range","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":690,"y":780,"wires":[["45d0070c.2d7a18"]]},{"id":"45d0070c.2d7a18","type":"function","z":"167e1d24.c17e33","name":"GetRange","func":"month=msg.payload\n//#msg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"year\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"year\")+\"-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\n//msg.payload.month=month\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":680,"y":740,"wires":[["d41d3112.8f7f1","380d7b27.78a8c4"]]},{"id":"380d7b27.78a8c4","type":"debug","z":"167e1d24.c17e33","name":"getRange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":740,"wires":[]},{"id":"1fea20c5.4ed9ef","type":"ui_chart","z":"167e1d24.c17e33","name":"","group":"44f18fda.2ce4a","order":2,"width":0,"height":0,"label":"3 Month ","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1160,"y":580,"wires":[[]]},{"id":"661c7084.9054b","type":"function","z":"167e1d24.c17e33","name":"getRainMRange","func":"mpy = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\n\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\n\n})\n\nreturn mymsg\n","outputs":1,"noerr":0,"x":960,"y":600,"wires":[["1fea20c5.4ed9ef","1969456f.3cfdeb"]]},{"id":"c85e5163.881d3","type":"ui_button","z":"167e1d24.c17e33","name":"","group":"f4dbbd7a.c32cf","order":11,"width":0,"height":0,"passthru":false,"label":"Range","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":670,"y":820,"wires":[["45d0070c.2d7a18"]]},{"id":"1969456f.3cfdeb","type":"debug","z":"167e1d24.c17e33","name":"getRange","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":620,"wires":[]},{"id":"b8b995c0.245208","type":"comment","z":"167e1d24.c17e33","name":"Exercise","info":"Add some more functioanlity to the UI ..like make the getRange flexible its hard code at the momment. Add more month and years to the drop downs.","x":780,"y":80,"wires":[]},{"id":"f62f7d52.b7751","type":"comment","z":"167e1d24.c17e33","name":"What is this / What can I do?","info":"This is the node-red flow and dashboard which send command to retrieve data from the python nodebook in watson studio \n\nYou can use the /UI to rigger comand or the injections and monitor the debug console.\n","x":840,"y":40,"wires":[]},{"id":"f6fddad7.405c68","type":"comment","z":"676ef9b9.6a1538","name":"What is this / What can I do?","info":"This is the setup Tab/Pages where you have\nto setup your LABID which you can get here\nhttps://thinklab1239.mybluemix.net/claimid\n\nyou also need your citys Lat/Lon which you can here https://www.latlong.net/\n\nyou also can get your own weather api key here\nhttps://callforcode.weather.com/register/","x":200,"y":40,"wires":[]},{"id":"9b88289a.986c98","type":"comment","z":"496d1953.b2bc58","name":"Exercise","info":"\nTry to change the PWS icon of your PWS ...","x":160,"y":80,"wires":[]},{"id":"aeb83ad.781c4c8","type":"comment","z":"496d1953.b2bc58","name":"What is this / What can I do?","info":"This Tab display all PWS Devices which come in via the IoT plattform","x":220,"y":40,"wires":[]},{"id":"be7d1826.de58e8","type":"websocket out","z":"3bbbe390.dad58c","name":"","server":"d76122c.dd372e","client":"","x":570,"y":180,"wires":[]},{"id":"b03d2fe6.ea31e","type":"function","z":"3bbbe390.dad58c","name":"{\"cmd\":\"Hello\"}","func":"msg.payload={\"cmd\":\"hello\",\"message\":\"hello to python\"}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["be7d1826.de58e8","586ece4e.70e9"]]},{"id":"51c2fabf.b3d1e4","type":"inject","z":"3bbbe390.dad58c","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"30","crontab":"","once":false,"onceDelay":"","x":150,"y":180,"wires":[["b03d2fe6.ea31e"]]},{"id":"2ac8eb97.43d354","type":"websocket in","z":"3bbbe390.dad58c","name":"","server":"d76122c.dd372e","client":"","x":560,"y":120,"wires":[["6344dc31.3a9c44","361d1080.39a47"]]},{"id":"6344dc31.3a9c44","type":"json","z":"3bbbe390.dad58c","name":"","property":"payload","action":"obj","pretty":false,"x":770,"y":220,"wires":[["6aee2847.598848","3521bcd4.703374","fbb56c06.ef0cd"]]},{"id":"6aee2847.598848","type":"ui_text","z":"3bbbe390.dad58c","group":"3f0f51c5.111b8e","order":6,"width":"6","height":"2","name":"","label":"Incoming","format":"{{msg.payload}}","layout":"row-spread","x":1280,"y":220,"wires":[]},{"id":"361d1080.39a47","type":"debug","z":"3bbbe390.dad58c","name":"InComing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":120,"wires":[]},{"id":"3521bcd4.703374","type":"function","z":"3bbbe390.dad58c","name":"","func":"msg.payload.ts=Date.now()\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":160,"wires":[["91d8ac2b.4c60e"]]},{"id":"871bdf08.c7c88","type":"function","z":"3bbbe390.dad58c","name":"set flow year","func":"flow.set(\"year\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":640,"wires":[[]]},{"id":"83ec6064.28c8a","type":"function","z":"3bbbe390.dad58c","name":"set flow month","func":"flow.set(\"month\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":720,"wires":[[]]},{"id":"dbd795be.647978","type":"function","z":"3bbbe390.dad58c","name":"{\"cmd\": getTemp/hr for Month","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRain\",\"month\":flow.get(\"month\"),\"year\":flow.get(\"year\")}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":320,"wires":[["2317e4f7.35621c","be7d1826.de58e8"]]},{"id":"2317e4f7.35621c","type":"debug","z":"3bbbe390.dad58c","name":"getRain/Forecast","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":190,"y":360,"wires":[]},{"id":"fbb56c06.ef0cd","type":"switch","z":"3bbbe390.dad58c","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"getRain","vt":"str"},{"t":"eq","v":"getRange","vt":"str"},{"t":"eq","v":"getForecastMonth","vt":"str"},{"t":"eq","v":"getForecastRange","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":770,"y":300,"wires":[["383546c1.abe35a"],["b295ad36.0939b"],["852e7f4d.88119"],["2aa158bc.4e2848"],["69d90e99.0c831"]]},{"id":"a1a132f2.660ba","type":"ui_dropdown","z":"3bbbe390.dad58c","name":"","label":"Choose Year","tooltip":"","place":"Select option","group":"411988da.c1f548","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"2018","value":"2018","type":"str"},{"label":"2019","value":"2019","type":"str"},{"label":"2020","value":"2020","type":"str"}],"payload":"","topic":"","x":170,"y":600,"wires":[["871bdf08.c7c88"]]},{"id":"ec7e976c.e94ad8","type":"ui_dropdown","z":"3bbbe390.dad58c","name":"","label":"Choose Month","tooltip":"","place":"Select option","group":"411988da.c1f548","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Jan","value":"Jan","type":"str"},{"label":"Feb","value":"Feb","type":"str"},{"label":"Mar","value":"Mar","type":"str"},{"label":"Jun","value":"Jun","type":"str"},{"label":"Jul","value":"Jul","type":"str"}],"payload":"","topic":"","x":180,"y":680,"wires":[["83ec6064.28c8a"]]},{"id":"b439f1f4.18ab8","type":"ui_button","z":"3bbbe390.dad58c","name":"","group":"411988da.c1f548","order":1,"width":0,"height":0,"passthru":false,"label":"Get History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getRain","payloadType":"str","topic":"","x":170,"y":280,"wires":[["dbd795be.647978"]]},{"id":"383546c1.abe35a","type":"function","z":"3bbbe390.dad58c","name":"getMonthRain","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":980,"y":280,"wires":[["624169dd.38f058"]]},{"id":"624169dd.38f058","type":"ui_chart","z":"3bbbe390.dad58c","name":"","group":"3f0f51c5.111b8e","order":1,"width":0,"height":0,"label":"Month History","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":280,"wires":[[]]},{"id":"5e4f3409.181d2c","type":"ui_button","z":"3bbbe390.dad58c","name":"","group":"411988da.c1f548","order":4,"width":0,"height":0,"passthru":false,"label":"Get Forecast 2020","tooltip":"","color":"","bgcolor":"","icon":"","payload":"getForecastMonth","payloadType":"str","topic":"","x":190,"y":460,"wires":[["7de7fa84.558a84"]]},{"id":"7de7fa84.558a84","type":"function","z":"3bbbe390.dad58c","name":"getForecastMonth2020","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getForecastMonth\",\"month\":flow.get(\"month\"),\"year\":\"2020\"}\n//msg.payload.month=month\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":500,"wires":[["be7d1826.de58e8"]]},{"id":"852e7f4d.88119","type":"function","z":"3bbbe390.dad58c","name":"gerForecast","func":"//incoming {\"Wet\":10,\"Dry\":18,\"Month\":\"Feb\",\"Year\":\"2018\",\"cmd\":\"getRain\"}\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [ \"Dry\", \"Wet\"],\n    \"data\": [ [5], [3] ],\n    \"labels\": [ \"Jan\" ]\n}]\n\nmymsg.payload[0].data[0][0]=msg.payload.Dry\nmymsg.payload[0].data[1][0]=msg.payload.Wet\nmymsg.payload[0].labels[0]=msg.payload.Month+\"-\"+msg.payload.Year\nreturn mymsg","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["1998df3.9f4f621","58fa7d73.c809e4"]]},{"id":"1998df3.9f4f621","type":"ui_chart","z":"3bbbe390.dad58c","name":"","group":"3f0f51c5.111b8e","order":3,"width":0,"height":0,"label":"Month Forecast 2020","chartType":"bar","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#bf1c09","#231cef","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1200,"y":320,"wires":[[]]},{"id":"91d8ac2b.4c60e","type":"ui_text","z":"3bbbe390.dad58c","group":"3f0f51c5.111b8e","order":5,"width":0,"height":0,"name":"","label":"Last Message","format":"{{msg.payload.ts}}","layout":"row-spread","x":1260,"y":160,"wires":[]},{"id":"70b223c2.75e20c","type":"inject","z":"3bbbe390.dad58c","name":"","topic":"","payload":"GetForecast","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":540,"wires":[["7de7fa84.558a84"]]},{"id":"58fa7d73.c809e4","type":"debug","z":"3bbbe390.dad58c","name":"Json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":360,"wires":[]},{"id":"b295ad36.0939b","type":"function","z":"3bbbe390.dad58c","name":"getRainMRange","func":"mpy = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\n\n\nmymsg={}\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\n\n})\n\nreturn mymsg\n","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["e875e204.4c18d","454d2040.15376"]]},{"id":"e875e204.4c18d","type":"debug","z":"3bbbe390.dad58c","name":"getRange","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":460,"wires":[]},{"id":"454d2040.15376","type":"ui_chart","z":"3bbbe390.dad58c","name":"","group":"503e045d.0186ac","order":2,"width":0,"height":0,"label":"Multiple Month History","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1240,"y":420,"wires":[[]]},{"id":"2aa158bc.4e2848","type":"function","z":"3bbbe390.dad58c","name":"getForecastRange - Maybe here","func":"//msg.payload={}\ninfo = {\"cmd\":\"getRange\",\"info\":[\n{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},\n{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},\n{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16},\n{\"date\":1490918400000,\"Dry\":16,\"Wet\":15,\"year\":2017,\"month_name\":\"Apr\",\"temp_c_max\":10.16},\n]}\nnode.warn(msg.payload)\n\nmymsg={}\nmymsg.drytotal=0\nmymsg.wettotal=0\nmymsg.drytotalp=0\nmymsg.wettotalp=0\nmymsg.payload=[{\n    \"series\": [[ \"Dry\"],[ \"Wet\"]],\n    \"data\": [[15,11,9],[5,10,8] ],\n    \"labels\": [ \"Jan\" ,\"Feb\",\"Mar\"]\n}]\n\n//node.warn(mymsg.payload[0].data[0][0])\n//node.warn(mpy)\nmsg.payload.info.forEach(function(entry,idx) \n{\n\n\nmymsg.payload[0].data[0][idx] = entry.Dry\nmymsg.payload[0].data[1][idx] = entry.Wet\n//mymsg.payload[0].data[0][1] = mpy.info[1].Dry\n//mymsg.payload[0].data[0][2] = mpy.info[2].Dry\nmymsg.payload[0].labels[idx] = entry.year+\"-\"+entry.month_name\nmymsg.drytotal =  mymsg.drytotal +parseInt(entry.Dry)\nmymsg.wettotal =  mymsg.wettotal +parseInt(entry.Wet)\n    \n})\nmymsg.days=(mymsg.wettotal+mymsg.drytotal)\nmymsg.drytotalp = parseInt( ((mymsg.drytotal / (mymsg.wettotal+mymsg.drytotal))*100).toFixed(2))\nmymsg.wettotalp =  parseInt( ((mymsg.wettotal / (mymsg.wettotal+mymsg.drytotal))*100).toFixed(2))\nmymsg.fmsg=\"Rain = \"+mymsg.wettotalp+\"% Dry=\"+mymsg.drytotalp+ \"% of Days(range)=\"+mymsg.days\nreturn mymsg\n","outputs":1,"noerr":0,"x":970,"y":560,"wires":[["a87e5c40.f0d87","8d9c6e1e.f8bad","291949b6.2d1f06"]]},{"id":"a87e5c40.f0d87","type":"debug","z":"3bbbe390.dad58c","name":"get3MRangeFC","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":560,"wires":[]},{"id":"8d9c6e1e.f8bad","type":"ui_chart","z":"3bbbe390.dad58c","name":"","group":"503e045d.0186ac","order":4,"width":0,"height":0,"label":"Multiple Month Forecast 2020","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#bf2308","#2e23ee","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1270,"y":520,"wires":[[]]},{"id":"69d90e99.0c831","type":"debug","z":"3bbbe390.dad58c","name":"Unkown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":400,"wires":[]},{"id":"24ede8dd.1b43e8","type":"inject","z":"6f1a45a.a42e5bc","name":"Image Refresh","topic":"","payload":"{\"imgurl\":\"https://www.toronto.ca/data/transportation/roadrestrictions/CameraImages/loc8046.jpg\",\"imgurl1\":\"https://511ny.org/map/Cctv/4616652--17\"}","payloadType":"json","repeat":"600","crontab":"","once":true,"onceDelay":"1","x":940,"y":520,"wires":[["f63aa056.3f8e3"]]},{"id":"7c04f521.fd26bc","type":"ui_gauge","z":"6f1a45a.a42e5bc","name":"","group":"13021934.20b057","order":3,"width":0,"height":0,"gtype":"compass","title":"Wind Direction","label":"Degree","format":"{{msg.payload.windDirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":500,"wires":[]},{"id":"4a06d0f6.84a7a","type":"function","z":"6f1a45a.a42e5bc","name":"Pressure Level","func":"//msg.payload=msg.payload.pressure\nreturn(msg)\n","outputs":1,"noerr":0,"x":160,"y":560,"wires":[[]]},{"id":"7d38bdd8.8a5d64","type":"comment","z":"676ef9b9.6a1538","name":"LAB instructions -https://github.com/markusvankempen/ThinkLab1239","info":"https://github.com/markusvankempen/ThinkLab1239/blob/master/instructions/Lab1239-PartOne.pdf","x":630,"y":120,"wires":[]},{"id":"f01b99ca.a9d848","type":"comment","z":"a30b5bd9.8c76d8","name":"Save Data ","info":"","x":80,"y":820,"wires":[]},{"id":"762a2a1a.4cb674","type":"ui_gauge","z":"6f1a45a.a42e5bc","name":"","group":"13021934.20b057","order":3,"width":0,"height":0,"gtype":"wave","title":"Pressure Level","label":"p","format":"{{msg.payload.????}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":380,"y":560,"wires":[]},{"id":"cc0940a.356fec","type":"cloudant out","z":"a30b5bd9.8c76d8","name":"","cloudant":"","database":"mypws","service":"00tla-cloudantNoSQLDB","payonly":true,"operation":"insert","x":560,"y":920,"wires":[]},{"id":"c7984da8.57aee","type":"ibmiot in","z":"a30b5bd9.8c76d8","authentication":"boundService","apiKey":"f3d8c395.7a0d5","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"pws01","applicationId":"","deviceType":"pws","eventType":"weather","commandType":"","format":"json","name":"allPWSIncoming","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":120,"y":920,"wires":[["7dcec16d.af2be"]]},{"id":"7dcec16d.af2be","type":"function","z":"a30b5bd9.8c76d8","name":"GetMyPWS","func":"//if(global.get(\"labid\") == \"NoLabID\")\n//node.error(\"Please set your LAB ID\")\n\nvar d = new Date();\nvar options = { timeZone: 'America/Toronto', timeZoneName: 'short', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit`};\nvar resultDate = d.toLocaleDateString('en-US', options);\nmsg.payload.mytime=resultDate\nnode.warn(global.get(\"labid\"))\n//if (msg.payload.pws == global.get(\"labid\") )\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":920,"wires":[["d8d83876.f4cbb8"]]},{"id":"17696b5b.680be5","type":"cloudant in","z":"a30b5bd9.8c76d8","name":"","cloudant":"","database":"mypws","service":"00tla-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":380,"y":1020,"wires":[["586c19ea.f32718","c4fe17b8.8a5d98"]]},{"id":"ba20eda1.54c49","type":"inject","z":"a30b5bd9.8c76d8","name":"get myPWSData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1020,"wires":[["17696b5b.680be5"]]},{"id":"586c19ea.f32718","type":"debug","z":"a30b5bd9.8c76d8","name":"DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":1020,"wires":[]},{"id":"d8d83876.f4cbb8","type":"debug","z":"a30b5bd9.8c76d8","name":"SaveMyData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":960,"wires":[]},{"id":"e16a0b28.d348f8","type":"http in","z":"a30b5bd9.8c76d8","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1100,"wires":[["17696b5b.680be5"]]},{"id":"c4fe17b8.8a5d98","type":"http response","z":"a30b5bd9.8c76d8","name":"","statusCode":"","headers":{},"x":560,"y":1100,"wires":[]},{"id":"64c67496.911ffc","type":"ui_dropdown","z":"167e1d24.c17e33","name":"","label":"Range End Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":10,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"09","value":"09","type":"str"}],"payload":"","topic":"","x":130,"y":640,"wires":[["5ec2ab98.f0e3f4"]]},{"id":"5ec2ab98.f0e3f4","type":"function","z":"167e1d24.c17e33","name":"set range","func":"flow.set(\"endrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":640,"wires":[[]]},{"id":"b2f0b2a.8b1a45","type":"ui_dropdown","z":"167e1d24.c17e33","name":"","label":"Range Start Month","tooltip":"","place":"Select option","group":"f4dbbd7a.c32cf","order":9,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"}],"payload":"","topic":"","x":110,"y":600,"wires":[["b17db949.2a26e8"]]},{"id":"b17db949.2a26e8","type":"function","z":"167e1d24.c17e33","name":"set range","func":"flow.set(\"startrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":600,"wires":[[]]},{"id":"bdc7df2.992a02","type":"ui_dropdown","z":"3bbbe390.dad58c","name":"","label":"Range End Month","tooltip":"","place":"Select option","group":"7718e484.83239c","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"},{"label":"03","value":"03","type":"str"},{"label":"04","value":"04","type":"str"},{"label":"09","value":"09","type":"str"}],"payload":"","topic":"","x":770,"y":820,"wires":[["bb5bb0ad.783b9"]]},{"id":"bb5bb0ad.783b9","type":"function","z":"3bbbe390.dad58c","name":"set range","func":"flow.set(\"endrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":860,"wires":[[]]},{"id":"60b567a1.052fb8","type":"ui_dropdown","z":"3bbbe390.dad58c","name":"","label":"Range Start Month","tooltip":"","place":"Select option","group":"7718e484.83239c","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"01","value":"01","type":"str"},{"label":"02","value":"02","type":"str"}],"payload":"","topic":"","x":770,"y":740,"wires":[["de4d7ad.06f5b88"]]},{"id":"de4d7ad.06f5b88","type":"function","z":"3bbbe390.dad58c","name":"set range","func":"flow.set(\"startrange\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":780,"wires":[[]]},{"id":"763bfbef.6f6874","type":"inject","z":"3bbbe390.dad58c","name":"getForecastRange","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":780,"wires":[["484a39a5.a4c348"]]},{"id":"484a39a5.a4c348","type":"function","z":"3bbbe390.dad58c","name":"RangeForecast","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getForecastRange\",\"start\": \"2020-\"+flow.get(\"startrange\"),\"end\": \"2020-\"+flow.get(\"endrange\")}\n\n//msg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["be7d1826.de58e8"]]},{"id":"75169697.598148","type":"ui_button","z":"3bbbe390.dad58c","name":"","group":"7718e484.83239c","order":5,"width":0,"height":0,"passthru":false,"label":"Get Range Forecast","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":500,"y":820,"wires":[["484a39a5.a4c348"]]},{"id":"a2a2b4ad.c42878","type":"function","z":"3bbbe390.dad58c","name":"set flow year","func":"flow.set(\"rangeyear\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":940,"wires":[[]]},{"id":"741ce41d.ff1b2c","type":"ui_dropdown","z":"3bbbe390.dad58c","name":"","label":"Year","tooltip":"","place":"Select option","group":"7718e484.83239c","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"2016","value":"2016","type":"str"},{"label":"2017","value":"2017","type":"str"},{"label":"2018","value":"2018","type":"str"},{"label":"2019","value":"2019","type":"str"},{"label":"2020","value":"2020","type":"str"}],"payload":"","topic":"","x":730,"y":900,"wires":[["a2a2b4ad.c42878"]]},{"id":"22de4acf.fb8386","type":"comment","z":"3bbbe390.dad58c","name":"Range -------------------","info":"","x":460,"y":700,"wires":[]},{"id":"cbfa3db.84c2ec","type":"comment","z":"3bbbe390.dad58c","name":"Range -------------------","info":"","x":760,"y":700,"wires":[]},{"id":"69375a8d.78e9f4","type":"inject","z":"3bbbe390.dad58c","name":"getForecastRange","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":490,"y":900,"wires":[["2a7f83bc.da500c"]]},{"id":"2a7f83bc.da500c","type":"function","z":"3bbbe390.dad58c","name":"RangeForecast","func":"month=msg.payload\nmsg.payload={\"cmd\":\"getRange\",\"start\": \"2020-\"+flow.get(\"startrange\"),\"end\": \"2020-\"+flow.get(\"endrange\")}\nmsg.payload={\"cmd\":\"getRange\",\"start\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"startrange\"),\"end\": flow.get(\"rangeyear\")+\"-\"+flow.get(\"endrange\")}\n\n//msg.payload={\"cmd\":\"getForecastRange\",\"start\": flow.get(\"year\")+\"-01\",\"end\": flow.get(\"year\")+\"-03\"}\n\nreturn msg;\n//{\"cmd\":\"getRange\",\"info\":[{\"date\":1485820800000,\"Dry\":22,\"Wet\":9,\"year\":2017,\"month_name\":\"Jan\",\"temp_c_max\":7.69},{\"date\":1488240000000,\"Dry\":25,\"Wet\":3,\"year\":2017,\"month_name\":\"Feb\",\"temp_c_max\":10.46},{\"date\":1490918400000,\"Dry\":26,\"Wet\":5,\"year\":2017,\"month_name\":\"Mar\",\"temp_c_max\":10.16}]}\n","outputs":1,"noerr":0,"x":480,"y":860,"wires":[["be7d1826.de58e8"]]},{"id":"463ed80b.a60248","type":"ui_button","z":"3bbbe390.dad58c","name":"","group":"7718e484.83239c","order":1,"width":0,"height":0,"passthru":false,"label":"Get Range History","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":490,"y":940,"wires":[["2a7f83bc.da500c"]]},{"id":"6e688ddc.5012c4","type":"comment","z":"3bbbe390.dad58c","name":"Exercise","info":"Add some more functioanlity to the UI ..like make the getRange flexible its hard code at the momment. Add more month and years to the drop downs.","x":160,"y":120,"wires":[]},{"id":"7c8b7dd9.f07ac4","type":"comment","z":"3bbbe390.dad58c","name":"What is this / What can I do?","info":"This is the node-red flow and dashboard which send command to retrieve data from the python nodebook in watson studio \n\nYou can use the /ui to rigger comand or the injections and monitor the debug console.\n\nConnect the vegitable icon and the Dry/Rainy day Pie Chart \n","x":220,"y":80,"wires":[]},{"id":"a0ac0650.57ab18","type":"comment","z":"1d24d277.363b9e","name":"VERSION:20200504","info":"","x":930,"y":40,"wires":[]},{"id":"291949b6.2d1f06","type":"ui_text","z":"3bbbe390.dad58c","group":"503e045d.0186ac","order":2,"width":0,"height":0,"name":"","label":"Forecast %","format":"{{msg.fmsg}}","layout":"row-spread","x":1220,"y":640,"wires":[]},{"id":"f870dadc.df7ed8","type":"ui_template","z":"3bbbe390.dad58c","group":"503e045d.0186ac","name":"vegetatable ","order":5,"width":0,"height":0,"format":"{{msg.payload.html}}\n<img src=\"{{msg.payload.url}}\" width=\"100\" height=\"100\"> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1370,"y":700,"wires":[[]]},{"id":"fd657be.724c188","type":"function","z":"3bbbe390.dad58c","name":"Choose Vegatable - Connect ME","func":"//swett potato  wet\nmsg.payload={}\nmsg.url=\"https://ya-webdesign.com/transparent450_/sweet-potato-png-6.png\"\n//tomato\nmsg.url=\"http://clipart-library.com/data_images/491385.jpg\"\n\n\n//brocoli dry\nmsg.payload.url=\"https://cdn.clipart.email/7b6e7261bda8719084060e0a27adf1d1_vegetables-broccoli-transparent-png-clipart-free-download-ywd_600-576.png\"\n//ruhbarb\nmsg.payload.url=\"http://clipart-library.com/img1/570926.png\"\n\n//tomato\nmsg.payload.url=\"http://clipart-library.com/data_images/491385.jpg\"\n\nif(msg.wettotalp < 20)\n{\n    msg.payload.html=\"In a dryer period grow\"\n//brocoli dry\nurl=\"https://cdn.clipart.email/7b6e7261bda8719084060e0a27adf1d1_vegetables-broccoli-transparent-png-clipart-free-download-ywd_600-576.png\"\n}else{\n    msg.payload.html=\"In a rainy period grow <br>\"\nurl=\"https://ya-webdesign.com/transparent450_/sweet-potato-png-6.png\" \n}\n\n\nmsg.payload.url=url\nreturn msg\n","outputs":1,"noerr":0,"x":1100,"y":720,"wires":[["f870dadc.df7ed8","54949189.235c9"]]},{"id":"54949189.235c9","type":"debug","z":"3bbbe390.dad58c","name":"vegetable","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1360,"y":760,"wires":[]},{"id":"88ce8e36.53d8d","type":"ui_chart","z":"3bbbe390.dad58c","name":"","group":"7718e484.83239c","order":6,"width":0,"height":0,"label":"Dry/Rainy","chartType":"pie","legend":"true","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00fa92","#7a81ff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1360,"y":800,"wires":[[]]},{"id":"3f3ffd00.e3a3e2","type":"function","z":"3bbbe390.dad58c","name":"Connect ME","func":"//msg={}\n//msg.drytotal=20\n\nmsg1={}\nmsg1.payload={}\nmsg1.payload=[{\n    \"series\": [ \"X\" ],\n    \"data\": [ [5,6] ],\n    \"labels\": [ \"Dry\", \"Wet\" ]\n}]\nmsg1.payload[0].data[0][0]=msg.drytotal\nmsg1.payload[0].data[0][0]=msg.wettotal\n//warn.node(msg)\nreturn msg1;","outputs":1,"noerr":0,"x":1150,"y":800,"wires":[["88ce8e36.53d8d"]]},{"id":"cd91648b.a30c08","type":"comment","z":"3bbbe390.dad58c","name":"WeatherForecastTab","info":"This is the forecast tab which send commands to the python notebooks to query the history and forecast data which is than display on the node-red Dashboard /ui","x":190,"y":40,"wires":[]},{"id":"586ece4e.70e9","type":"debug","z":"3bbbe390.dad58c","name":"toPython","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":300,"y":220,"wires":[]},{"id":"3af23bd5.999e04","type":"debug","z":"a30b5bd9.8c76d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1240,"wires":[]},{"id":"2facfae.23e0306","type":"function","z":"a30b5bd9.8c76d8","name":"Create deviceid and token","func":"msg.payload={\n        \"deviceType\": \"pws\",\n        \"deviceId\": \"pws99\",\n        \"authToken\": \"pws99\",\n        \"deviceInfo\": {\n            \"serialNumber\": \"string\",\n            \"manufacturer\": \"string\",\n            \"model\": \"string\",\n            \"deviceClass\": \"string\",\n            \"description\": \"string\",\n            \"fwVersion\": \"string\",\n            \"hwVersion\": \"string\",\n            \"descriptiveLocation\": \"string\"\n        },\n        \"location\": {\n            \"longitude\": 0,\n            \"latitude\": 0,\n            \"elevation\": 0,\n            \"accuracy\": 0,\n            \"measuredDateTime\": \"2016-08-07T18:50:51.553Z\"\n        },\n        \"metadata\": {}\n    }\n    return msg","outputs":1,"noerr":0,"x":160,"y":1240,"wires":[["3b8f60b1.56328"]]},{"id":"77621fff.6c5c1","type":"function","z":"a30b5bd9.8c76d8","name":"save device infos","func":"global.set(\"mypwsinfo\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1200,"wires":[[]]},{"id":"4cab8562.f4b2bc","type":"delay","z":"a30b5bd9.8c76d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1240,"wires":[["3af23bd5.999e04","77621fff.6c5c1"]]},{"id":"1ac83c9d.36deb3","type":"inject","z":"a30b5bd9.8c76d8","name":"get myPWSData","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1280,"wires":[["2facfae.23e0306"]]},{"id":"3b8f60b1.56328","type":"device-manager","z":"a30b5bd9.8c76d8","auth":"bluemix","name":"","apiKey":"","deviceType":"","method":"GetAll","deviceId":"","password":"","ignore":false,"x":400,"y":1240,"wires":[["4cab8562.f4b2bc"]]}]
